<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="This is social network html5 template available in themeforest......"/>
    <meta name="keywords" content="Social Network, Social Media, Make Friends, Newsfeed, Profile Page"/>
    <meta name="robots" content="index, follow"/>

    <title>ConnectFlix | My Timeline</title>

    <!-- Stylesheets
    ================================================= -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/assets/css/style.css"/>
    <link rel="stylesheet" href="/assets/css/ionicons.min.css"/>
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css"/>
    <link href="/assets/css/emoji.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.0.js"
            integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script>
    <script src="/assets/js/custom.js" th:src="@{/assets/js/custom.js}"></script>

    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i" rel="stylesheet">
    <!--Favicon-->
    <link rel="shortcut icon" type="image/png" href="/assets/images/fav.png"/>
</head>
<body>

<!-- 404 Error
================================================= -->
<div class="error-page" style="text-align: center">
    <div class="error-content">
        <div class="container">
            <img src="/assets/images/403.png" alt="" class="img-responsive"
                 style="display: block; margin-left: auto;margin-right: auto;width: 80%;">
            <a th:href="@{'/'}" class="btn btn-primary">Back to Home Page</a>
        </div>
    </div>
</div>

<!-- Footer
================================================= -->

<!--preloader-->
<div id="spinner-wrapper" style="display: none;">
    <div class="spinner"></div>
</div>




<!-- Scripts
================================================= -->
<script src="/assets/js/jquery-3.5.0.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/jquery.appear.min.js"></script>
<script src="/assets/js/jquery.incremental-counter.js"></script>
<script src="/assets/js/script.js"></script>


</body>
</html>