<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="This is social network html5 template available in themeforest......"/>
    <meta name="keywords" content="Social Network, Social Media, Make Friends, Newsfeed, Profile Page"/>
    <meta name="robots" content="index, follow"/>
    <title>ConnectFlix | Users</title>

    <!-- Stylesheets
================================================= -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/assets/css/style.css"/>
    <link rel="stylesheet" href="/assets/css/ionicons.min.css"/>
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css"/>

    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i" rel="stylesheet">

    <!--Favicon-->
    <link rel="shortcut icon" type="image/png" href="/assets/images/fav.png"/>
</head>
<body>

<!-- Header
================================================= -->
<header id="header">
    <nav class="navbar navbar-default navbar-fixed-top menu">
        <div class="container">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" th:href="${'/'}"><img src="/assets/images/logo.png" alt="logo"/></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right main-menu">
                    <li class="dropdown"><a th:href="@{'/register'}">Register</a></li>
                    <!--<li class="dropdown"><a th:href="@{'/'}">Requests</a></li>
                    <li class="dropdown"><a th:href="@{'/'}">Notifications</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle pages" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">Edit Profile<span><img
                                src="/assets/images/down-arrow.png" alt=""/></span></a>
                        <ul class="dropdown-menu page-list">
                            <li><a th:href="@{'/user/edit'}">Edit: Basic Info</a></li>
                            <li><a th:href="@{'/user/edit/work'}">Edit: Work</a></li>
                            <li><a th:href="@{'/user/edit/interests'}">Edit: Interests</a></li>
                            <li><a href="edit-pront Settings</a></li>
                            <li><a th:href="@{'/user/edit/password'}">Change Password</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="javascript: document.logoutForm.submit()"
                                            sec:authorize="isAuthenticated()">Log Out</a>
                        <form name="logoutForm" th:action="@{/logout}" method="post">
                            <input hidden type="submit"/>
                        </form>
                    </li>-->
                </ul>
                <form th:action="@{'/users'}" class="navbar-form navbar-right hidden-sm">
                    <div class="form-group">
                        <i class="icon ion-android-search"></i>
                        <input type="text" class="form-control" placeholder="Search users" th:name="word">
                    </div>
                </form>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>
</header>
<!--Header End-->
<div class="container">

    <!-- Timeline
    ================================================= -->
    <div class="timeline">
        <div class="timeline-cover-my">

            <!--Timeline Menu for Large Screens-->
            <div class="timeline-nav-bar hidden-sm hidden-xs">
                <div class="row">
                    <div class="col-md-3">
                        <div class="profile-info">
                            <!--<img src="/assets/images/bg/person_1.jpg" alt="" class="img-responsive profile-photo"/>
                            <img src="/assets/images/bg/person_1.jpg" alt=""
                                 class="img-responsive profile-photo">
                            <img th:unless="${userInfo.picture} == null"
                                 th:src="@{'/user/image?username=' + ${user.username}}" alt=""
                                 class="img-responsive profile-photo">
                            <h3><a th:href="@{'/user/' + ${user.username}}"
                                   th:text="${userInfo.firstName + ' ' + userInfo.lastName}"></a></h3>
                            <p class="text-muted" th:text="${userInfo.description}"></p>-->
                        </div>
                    </div>
                    <div class="col-md-9">
                        <ul class="list-inline profile-menu">
                            <!--<li><a>Test</a></li>
                            <li><a th:href="@{'/user/' + ${user.username} + '/about'}">About</a></li>--?
                            <li><a href="timeline-album.html">Album</a></li>
                            <li><a th:href="@{'/user/' + ${user.username} + '/friends'}" class="active">Friends</a></li>-->
                        </ul>
                        <ul class="follow-me list-inline">
                            <!--<li><p th:text="${friends.size() + ' friends'}"></p></li>
                            <li>
                                <button class="btn-primary">Add Friend</button>
                            </li>-->
                        </ul>
                    </div>
                </div>
            </div><!--Timeline Menu for Large Screens End-->
        </div>
        <div id="page-contents">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-7">
                    <div class="edit-profile-container">
                        <div class="block-title">
                            <h4 class="grey">Browse Users</h4>
                            <div class="line"></div>
                        </div>
                    </div>

                    <!-- Friend List
                    ================================================= -->
                    <div class="friend-list">
                        <div class="row">
                            <div class="col-md-6 col-sm-6" th:each="result : ${resultUsers}">
                                <div class="friend-card">
                                    <img th:if="${result.value.coverPicture} == null" src="/assets/images/bg/4-small.jpg" alt="profile-cover"
                                         class="img-responsive cover" style="width: 300px; height: 120px; border-radius: 5px; object-fit: cover"/>
                                    <img th:if="${result.value.coverPicture} != null" th:src="@{'/image/cover?username=' + ${result.value.user.username}}"
                                         alt="profile-cover" class="img-responsive cover" style="width: 300px; height: 120px; border-radius: 5px; object-fit: cover"/>
                                    <div class="card-info">
                                        <img th:if="${result.value.picture} == null or ${result.value.picturePrivacy} == true" src="/assets/images/bg/person_1.jpg"
                                             alt="user" class="profile-photo-lg"/>
                                        <img th:unless="${result.value.picture} == null or ${result.value.picturePrivacy} == true"
                                             th:src="@{'/image?username=' + ${result.value.user.username}}" alt="" class="profile-photo-lg">
                                        <div class="friend-info">
                                            <a href="#" class="pull-right text-green"></a>
                                            <h5><a th:href="@{'/' + ${result.value.user.username}}" class="profile-link"
                                                   th:text="${result.value.firstName + ' ' + result.value.lastName}"></a></h5>
                                            <p th:text="${result.value.description}"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer
================================================= -->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="footer-wrapper">

            </div>
        </div>
    </div>
</footer>

<!--preloader-->
<div id="spinner-wrapper">
    <div class="spinner"></div>
</div>

<!-- Scripts
================================================= -->
<script src="/assets/js/jquery-3.1.1.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/jquery.sticky-kit.min.js"></script>
<script src="/assets/js/jquery.scrollbar.min.js"></script>
<script src="/assets/js/script.js"></script>

</body>
</html>
