<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="This is social network html5 template available in themeforest......"/>
    <meta name="keywords" content="Social Network, Social Media, Make Friends, Newsfeed, Profile Page"/>
    <meta name="robots" content="index, follow"/>
    <title>Edit Profile | My Movies</title>

    <!-- Stylesheets
    ================================================= -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/assets/css/style.css"/>
    <link rel="stylesheet" href="/assets/css/ionicons.min.css"/>
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css"/>

    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i" rel="stylesheet">

    <!--Favicon-->
    <link rel="shortcut icon" type="image/png" href="/assets/images/fav.png"/>
    <script src="https://code.jquery.com/jquery-3.5.0.js"
            integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script>
    <script src="/assets/js/custom.js" th:src="@{/assets/js/custom.js}"></script>
</head>
<body>

<!-- Header
================================================= -->
<header id="header">
    <nav class="navbar navbar-default navbar-fixed-top menu">
        <div class="container">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" th:href="${'/'}"><img src="/assets/images/logo.png" alt="logo"/></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right main-menu">
                    <li class="dropdown"><a th:href="@{'/'}">Home</a></li>
                    <li class="dropdown"><a th:href="@{'/user/movies'}">Movies</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle pages" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">Notifications<span><img
                                style="display: inline-block"
                                src="/assets/images/down-arrow.png" alt=""/></span>
                            <p style="display: inline-block" th:if="${unread.size() > 0}"
                               th:text="${unread.size()}"></p></a>
                        <ul class="dropdown-menu page-list" style="width: 300px;">
                            <form id="myForm" th:each="notification : ${unread}"
                                  th:action="@{'/notification?id=' + ${notification.id}}" method="post">
                                <li style="line-height: 10%; text-align: left; margin-left: 15px; margin-right: 15px; margin-bottom: 10px;">
                                    <a onclick="document.getElementById('myForm').submit();"
                                       th:text="${notification.text}"></a></li>
                            </form>
                            <li style="line-height: 5%; text-align: center;"><a
                                    th:href="@{'/user/' + ${user.username} + '/notifications'}">Show All</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle pages" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">Edit Profile <span><img
                                src="/assets/images/down-arrow.png" alt=""/></span></a>
                        <ul class="dropdown-menu page-list">
                            <li><a th:href="@{'/user/' + ${loggedUser.username} + '/edit/basic'}">Basic Info</a></li>
                            <li><a th:href="@{'/user/' + ${loggedUser.username} + '/edit/photos'}">Photos</a></li>
                            <li><a th:href="@{'/user/' + ${loggedUser.username} + '/edit/work'}">Work</a></li>
                            <li><a th:href="@{'/user/' + ${loggedUser.username} + '/edit/interests'}">Genres</a></li>
                            <li><a th:href="@{'/user/' + ${loggedUser.username} + '/edit/movies'}">Movies</a></li>
                            <li><a th:href="@{'/user/' + ${loggedUser.username} + '/edit/password'}">Change Password</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="javascript: document.logoutForm.submit()"
                                            sec:authorize="isAuthenticated()">Log Out</a>
                        <form name="logoutForm" th:action="@{/logout}" method="post">
                            <input hidden type="submit"/>
                        </form>
                    </li>
                </ul>
                <form th:action="@{'/user/search'}" class="navbar-form navbar-right hidden-sm">
                    <div class="form-group">
                        <i class="icon ion-android-search"></i>
                        <input type="text" class="form-control" placeholder="Search users" th:name="word">
                    </div>
                </form>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>
</header>
<!--Header End-->

<div class="container">

    <!-- Timeline
    ================================================= -->
    <div class="timeline">
        <div class="timeline-cover">
            <img th:if="${userInfo.coverPicture} == null" src="/assets/images/bg/4.jpg" alt=""
                 style="width: 1030px; height: 360px; object-fit: cover">
            <img th:if="${userInfo.coverPicture} != null" th:src="@{'/user/image/cover?username=' + ${user.username}}"
                 alt=""
                 style="width: 1030px; height: 360px; object-fit: cover">
            <!--Timeline Menu for Large Screens-->
            <div class="timeline-nav-bar hidden-sm hidden-xs">
                <div class="row">
                    <div class="col-md-3">
                        <div class="profile-info">
                            <!--<img src="/assets/images/bg/person_1.jpg" alt="" class="img-responsive profile-photo"/>-->
                            <img th:if="${userInfo.picture} == null" src="/assets/images/bg/person_1.jpg" alt=""
                                 class="img-responsive profile-photo">
                            <img th:unless="${userInfo.picture} == null"
                                 th:src="@{'/user/image?username=' + ${user.username}}" alt=""
                                 class="img-responsive profile-photo">
                            <h3><a th:href="@{'/user/' + ${user.username}}"
                                   th:text="${userInfo.firstName + ' ' + userInfo.lastName}"></a></h3>
                            <p class="text-muted" th:text="${userInfo.description}"></p>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <ul class="list-inline profile-menu">
                            <li><a th:href="@{'/user/' + ${user.username}}">Timeline</a></li>
                            <li><a th:href="@{'/user/' + ${user.username} + '/about'}" class="active">About</a></li>
                            <!--<li><a href="timeline-album.html">Album</a></li>-->
                            <li><a th:href="@{'/user/' + ${user.username} + '/friends'}">Friends</a></li>
                        </ul>
                        <!--<ul class="follow-me list-inline">
                            <li>1,299 people following her</li>
                            <li>
                                <button class="btn-primary">Add Friend</button>
                            </li>
                        </ul>-->
                    </div>
                </div>
            </div><!--Timeline Menu for Large Screens End-->
        </div>
        <div id="page-contents">
            <div class="row">
                <div class="col-md-3">

                    <!--Edit Profile Menu-->
                    <ul class="edit-menu">
                        <li><i class="icon ion-ios-information-outline"></i><a
                                th:href="@{'/user/' + ${user.username} + '/edit/basic'}">Basic Information</a></li>
                        <li><i class="icon ion-ios-camera-outline"></i><a
                                th:href="@{'/user/' + ${user.username} + '/edit/photos'}">Photos</a></li>
                        <li><i class="icon ion-ios-briefcase-outline"></i><a
                                th:href="@{'/user/' + ${user.username} + '/edit/work'}">Work</a></li>
                        <li><i class="icon ion-ios-videocam-outline"></i><a
                                th:href="@{'/user/' + ${user.username} + '/edit/interests'}">Genres</a></li>
                        <li class="active"><i class="icon ion-ios-videocam-outline"></i><a
                                th:href="@{'/user/' + ${user.username} + '/edit/movies'}">Movies</a></li>
                        <li><i class="icon ion-ios-locked-outline"></i><a
                                th:href="@{'/user/' + ${user.username} + '/edit/password'}">Change Password</a></li>
                        <li th:if="${loggedUser != user and #authorization.expression('hasRole(''ADMIN'')')}"><i
                                class="icon ion-ios-trash-outline"></i><a
                                th:href="@{'/user/' + ${user.username} + '/delete'}">Delete User</a></li>
                    </ul>
                </div>
                <div class="col-md-7">

                    <!-- Edit Interests
                    ================================================= -->
                    <div class="edit-profile-container">
                        <div class="block-title">
                            <h4 class="grey"><i class="icon ion-ios-videocam-outline"></i>My Favorite Movies</h4>
                            <div class="line"></div>
                        </div>
                        <div class="edit-block">
                            <form style="display: inline-block; text-align: center" th:each="movie : ${movies}"
                                  th:action="@{'/user/' + ${user.username} + '/edit/movies/remove?id=' + ${movie.id}}" method="post">
                                <div style="margin-right: 30px">
                                    <h5 style="width: 160px;"><a th:href="@{'https://www.imdb.com/title/' + ${movie.imdb}}" th:text="${movie.title}"></a></h5>
                                    <img style="height: 240px; width: 160px;" th:src="${movie.poster}">
                                    <br>
                                    <br>
                                    <input type="submit" value="Remove from Favorites"></input>
                                </div>
                                <br>
                                <div class="line"></div>
                            </form>
                        </div>
                        <!--<input onkeyup="getanswer(document.getElementById('qurybox').value)" id="qurybox">
                        <div id="answer"></div>
                        <script> var data;
                        function getanswer(q){
                            $.get("http://www.omdbapi.com/?apikey=ba1f4581&s=" + q + "", function(rawdata){
                                var rawstring =JSON.stringify(rawdata);
                                data =JSON.parse(rawstring);
                                var title = data.Search[0].Title;
                                var year = data.Search[0].Year;
                                var imdburl="https://www.imdb.com/title/"+data.Search[0].imdbID+"/";

                                var posterurl =data.Search[0].Poster;
                                document.getElementById('answer').innerHTML="<h3>"+title+"</h3><img src= '"+posterurl+"'><br><p> Year Released:"+year+"</p><p> IMDB page: <a href='"+imdburl+"'target='_blank'>"+imdburl+"</a></p>"; }); }</script>-->
                        <div class="edit-block">
                            <div class="line"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 static">

                    <!--Sticky Timeline Activity Sidebar-->
                    <div id="sticky-sidebar">
                        <!--<h4 class="grey"><a th:text="${userInfo.firstName + ' activity'}"></a></h4>
                        <div class="feed-item">
                            <div class="live-activity">
                                <p><a href="#" class="profile-link">Sarah</a> Commended on a Photo</p>
                                <p class="text-muted">5 mins ago</p>
                            </div>
                        </div>
                        <div class="feed-item">
                            <div class="live-activity">
                                <p><a href="#" class="profile-link">Sarah</a> Has posted a photo</p>
                                <p class="text-muted">an hour ago</p>
                            </div>
                        </div>
                        <div class="feed-item">
                            <div class="live-activity">
                                <p><a href="#" class="profile-link">Sarah</a> Liked her friend's post</p>
                                <p class="text-muted">4 hours ago</p>
                            </div>
                        </div>
                        <div class="feed-item">
                            <div class="live-activity">
                                <p><a href="#" class="profile-link">Sarah</a> has shared an album</p>
                                <p class="text-muted">a day ago</p>
                            </div>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Footer
================================================= -->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="footer-wrapper">

            </div>
        </div>
    </div>
</footer>

<!--preloader-->
<div id="spinner-wrapper">
    <div class="spinner"></div>
</div>

<!-- Scripts
================================================= -->
<script src="/assets/js/jquery-3.1.1.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/jquery.sticky-kit.min.js"></script>
<script src="/assets/js/jquery.scrollbar.min.js"></script>
<script src="/assets/js/script.js"></script>

</body>
</html>
