<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="This is social network html5 template available in themeforest......"/>
    <meta name="keywords" content="Social Network, Social Media, Make Friends, Newsfeed, Profile Page"/>
    <meta name="robots" content="index, follow"/>

    <title>ConnectFlix | My Timeline</title>

    <!-- Stylesheets
    ================================================= -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/assets/css/style.css"/>
    <link rel="stylesheet" href="/assets/css/ionicons.min.css"/>
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css"/>
    <link href="/assets/css/emoji.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.0.js"
            integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script>
    <script src="/assets/js/custom.js" th:src="@{/assets/js/custom.js}"></script>

    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i" rel="stylesheet">
    <!--Favicon-->
    <link rel="shortcut icon" type="image/png" href="/assets/images/fav.png"/>
</head>
<body>

<!-- Header
================================================= -->
<header id="header" sec:authorize="isAuthenticated()">
    <nav class="navbar navbar-default navbar-fixed-top menu">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" th:href="${'/'}"><img src="/assets/images/logo.png" alt="logo"/></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right main-menu">
                    <li class="dropdown"><a th:href="@{'/'}">Home</a></li>
                    <li class="dropdown"><a th:href="@{'/user/movies'}">Movies</a></li>
                    <li class="dropdown"><a th:href="@{'/'}">Notifications</a></li>
                    <li class="dropdown">
                        <a th:href="@{'/'}" class="dropdown-toggle pages" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">Edit Profile<span><img
                                src="/assets/images/down-arrow.png" alt=""/></span></a>
                        <ul class="dropdown-menu page-list">
                            <!--<li><a th:href="@{'/user/edit'}">Basic Info</a></li>
                            <li><a th:href="@{'/user/edit/photos'}">Photos</a></li>
                            <li><a th:href="@{'/user/edit/work'}">Work</a></li>
                            <li><a th:href="@{'/user/' + ${user.username} + '/edit/interests'}">Genres</a></li>
                            <li><a th:href="@{'/user/' + ${user.username} + '/edit/movies'}">Movies</a></li>
                            <li><a th:href="@{'/user/edit/password'}">Change Password</a></li>-->
                        </ul>
                    </li>
                    <li class="dropdown"><a href="javascript: document.logoutForm.submit()"
                                            sec:authorize="isAuthenticated()">Log Out</a>
                        <form name="logoutForm" th:action="@{/logout}" method="post">
                            <input hidden type="submit"/>
                        </form>
                    </li>
                </ul>
                <form th:action="@{'/user/search'}" class="navbar-form navbar-right hidden-sm">
                    <div class="form-group">
                        <i class="icon ion-android-search"></i>
                        <input type="text" class="form-control" placeholder="Search users" th:name="word">
                    </div>
                </form>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>
</header>
<!--Header End-->

<!-- 404 Error
================================================= -->
<div class="error-page" style="text-align: center">
    <div class="error-content">
        <div class="container">
            <img src="/assets/images/404.png" alt="" class="img-responsive"
                 style="display: block; margin-left: auto;margin-right: auto;width: 50%;">
            <div class="error-message">
                <h1 class="error-title">Whoops!</h1>
                <p th:text="${error}"></p>
            </div>
        </div>
    </div>
</div>

<!-- Footer
================================================= -->

<!--preloader-->
<div id="spinner-wrapper" style="display: none;">
    <div class="spinner"></div>
</div>


<!-- Scripts
================================================= -->
<script src="/assets/js/jquery-3.5.0.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/jquery.appear.min.js"></script>
<script src="/assets/js/jquery.incremental-counter.js"></script>
<script src="/assets/js/script.js"></script>


</body>
</html>