<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="This is social network html5 template available in themeforest......"/>
    <meta name="keywords" content="Social Network, Social Media, Make Friends, Newsfeed, Profile Page"/>
    <meta name="robots" content="index, follow"/>
    <title>ConnectFlix | Forgotten password</title>

    <!-- Stylesheets
    ================================================= -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/assets/css/style.css"/>
    <link rel="stylesheet" href="/assets/css/ionicons.min.css"/>
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css"/>

    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i" rel="stylesheet">

    <!--Favicon-->
    <link rel="shortcut icon" type="image/png" href="/assets/images/fav.png"/>
</head>
<body>

<!-- Header
================================================= -->
<!--<header id="header-inverse">
    <nav class="navbar navbar-default navbar-fixed-top menu">
        <div class="container">

             Brand and toggle get grouped for better mobile display
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" th:href="${'/'}"><img src="/assets/images/logo.png" alt="logo"/></a>
            </div>

             Collect the nav links, forms, and other content for toggling
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right main-menu">
                    <li class="dropdown"><a th:href="@{'/'}">Home</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Newsfeed <span><img src="/assets/images/down-arrow.png" alt=""/></span></a>
                        <ul class="dropdown-menu newsfeed-home">
                            <li><a href="newsfeed-single.html">Newsfeed</a></li>
                            <li><a href="newsfeed-people-nearby.html">Poeple Nearly</a></li>
                            <li><a href="newsfeed-users.html">My friends</a></li>
                            <li><a href="newsfeed-messages.html">Chatroom</a></li>
                            <li><a href="newsfeed-images.html">Images</a></li>
                            <li><a href="newsfeed-videos.html">Videos</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Timeline <span><img src="/assets/images/down-arrow.png" alt=""/></span></a>
                        <ul class="dropdown-menu login">
                            <li><a href="timeline.html">Timeline</a></li>
                            <li><a href="personal-info.html">Timeline About</a></li>
                            <li><a href="timeline-album.html">Timeline Album</a></li>
                            <li><a href="personal-friends.html">Timeline Friends</a></li>
                            <li><a href="edit-profile-basic.html">Edit: Basic Info</a></li>
                            <li><a href="edit-profile-work.html">Edit: Work</a></li>
                            <li><a href="edit-profile-interests.html">Edit: Interests</a></li>
                            <li><a href="edit-profile-settings.html">Account Settings</a></li>
                            <li><a href="edit-profile-password.html">Change Password</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle pages" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">All Pages <span><img
                                src="/assets/images/down-arrow.png" alt=""/></span></a>
                        <ul class="dropdown-menu page-list">
                            <li><a href="index.html">Landing Page 1</a></li>
                            <li><a href="index-register.html">Landing Page 2</a></li>
                            <li><a href="newsfeed-single.html">Newsfeed</a></li>
                            <li><a href="newsfeed-people-nearby.html">Poeple Nearly</a></li>
                            <li><a href="newsfeed-users.html">My friends</a></li>
                            <li><a href="newsfeed-messages.html">Chatroom</a></li>
                            <li><a href="newsfeed-images.html">Images</a></li>
                            <li><a href="newsfeed-videos.html">Videos</a></li>
                            <li><a href="timeline.html">Timeline</a></li>
                            <li><a href="personal-info.html">Timeline About</a></li>
                            <li><a href="timeline-album.html">Timeline Album</a></li>
                            <li><a href="personal-friends.html">Timeline Friends</a></li>
                            <li><a href="edit-profile-basic.html">Edit Profile</a></li>
                            <li><a href="contact.html">Contact Us</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-right hidden-sm">
                    <div class="form-group">
                        <i class="icon ion-android-search"></i>
                        <input type="text" class="form-control" placeholder="Search friends, photos, videos">
                    </div>
                </form>
            </div> /.navbar-collapse
        </div> /.container
    </nav>
</header>-->
<!--Header End-->

<!-- Landing Page Contents
================================================= -->
<div id="lp-register">
    <div class="container wrapper">
        <div class="row">
            <div class="col-sm-5">
                <h1 class="text-white">Join ConnectFlix now!</h1>
                <br>
                <p>"The screen is a magic medium. It has such power that it can retain interest as it conveys
                    emotions and moods that no other art form can hope to tackle."<br/> <br/>Stanley Kubrick</p><br/>
                <br/>
                <p>"The cinema began with a passionate, physical relationship between celluloid and the artists
                    and craftsmen and technicians who handled it, manipulated it, and came to know it the way a lover
                    comes to know every inch of the body of the beloved. No matter where the cinema goes, we cannot
                    afford to lose sight of its beginnings."<br/> <br/>Martin Scorsese</p><br/>
                <a th:href="@{'/'}" class="btn btn-primary">Back to Home Page</a>
            </div>
            <div class="col-sm-6 col-sm-offset-1">
                <div class="reg-form-container">

                    <!-- Register/Login Tabs-->
                    <div class="reg-options">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#register" data-toggle="tab">Register</a></li>
                            <li><a href="#login" data-toggle="tab">Login</a></li>
                        </ul><!--Tabs End-->
                    </div>

                    <!--Registration Form Contents-->
                    <div class="tab-content">
                        <div class="tab-pane active" id="register">
                            <h3>Reset password</h3>
                            <p class="text-muted">Be cool and join today. Meet millions</p>
                            <p>
                                <i th:if="${error != null}" th:text="${error}" class="error"></i>
                                <i th:if="${error == null}" th:text="${success}" class="error"></i>
                            </p>
                            <!--Register Form-->
                            <form name="registration_form" id='registration_form' class="form-inline" action="#"
                                  th:action="@{'/forgotten-password'}" enctype="multipart/form-data" method="post">
                                <div class="row">
                                    <div class="form-group col-xs-12">
                                        <label for="username" class="sr-only">E-mail</label>
                                        <input id="username" class="form-control input-group-lg" type="text"
                                               name="username" required
                                               title="Enter username" placeholder="E-mail"
                                               th:field="${userInfo.email}"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-xs-6">
                                        <br>
                                        <input type="submit" value="Send Password Reset Link" class="btn-secondary"></input>
                                    </div>
                                </div>
                            </form>

                            <!--Register Now Form Ends-->
                            <!--<p><a href="#">Already have an account?</a></p>
                            <button type="submit" class="btn-secondary">Register Now</button>-->

                        </div><!--Registration Form Contents Ends-->

                        <!--Login-->
                        <div class="tab-pane" id="login">
                            <h3>Login</h3>
                            <p class="text-muted">Log into your account</p>

                            <!--Login Form-->
                            <p>
                                <i th:if="${param.error}" class="error">Wrong username or password.</i>
                            </p>
                            <form name="Login_form" id='Login_form' action="#" th:action="@{/authenticate}"
                                  method="post">
                                <div class="form-group">
                                    <input type="text" name="username" placeholder="Username" required
                                           class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" placeholder="Password" required
                                           class="form-control">
                                </div>
                                <p><a href="#">Forgot Password?</a></p>
                                <input type="submit" value="SignIn" class="btn-secondary"></input>
                            </form><!--Login Form Ends-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-6">

                <!--Social Icons-->
                <!--<ul class="list-inline social-icons">
                    <li><a href="#"><i class="icon ion-social-facebook"></i></a></li>
                    <li><a href="#"><i class="icon ion-social-twitter"></i></a></li>
                    <li><a href="#"><i class="icon ion-social-googleplus"></i></a></li>
                    <li><a href="#"><i class="icon ion-social-pinterest"></i></a></li>
                    <li><a href="#"><i class="icon ion-social-linkedin"></i></a></li>
                </ul>-->
            </div>
        </div>
    </div>
</div>

<!--preloader-->
<div id="spinner-wrapper">
    <div class="spinner"></div>
</div>

<!-- Scripts
================================================= -->
<script src="/assets/js/jquery-3.1.1.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/jquery.appear.min.js"></script>
<script src="/assets/js/jquery.incremental-counter.js"></script>
<script src="/assets/js/script.js"></script>

</body>
</html>
