<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="This is social network html5 template available in themeforest......"/>
    <meta name="keywords" content="Social Network, Social Media, Make Friends, Newsfeed, Profile Page"/>
    <meta name="robots" content="index, follow"/>
    <title>ConnectFlix</title>


    <!-- Stylesheets
    ================================================= -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/assets/css/style.css"/>
    <link rel="stylesheet" href="/assets/css/ionicons.min.css"/>
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/assets/css/emoji.css">
    <!--Google Webfont-->
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,100,100italic,200,200italic,300,300italic,400italic,500,500italic,600,600italic,700'
          rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i" rel="stylesheet">
    <!--Favicon-->
    <link rel="shortcut icon" type="image/png" href="/assets/images/fav.png"/>
    <script src="https://code.jquery.com/jquery-3.5.0.js"
            integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script>
    <script src="/assets/js/custom.js" th:src="@{/assets/js/custom.js}"></script>
</head>
<body>

<!-- Header public
================================================= -->
<header id="header" class="lazy-load" sec:authorize="!isAuthenticated()">
    <nav class="navbar navbar-default navbar-fixed-top menu">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" th:href="@{'/'}"><img src="/assets/images/logo.png" alt="logo"/></a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right main-menu">
                    <li class="dropdown"><a th:href="@{'/register'}">Register</a></li>
                    <!--<li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Newsfeed <span><img src="/assets/images/down-arrow.png" alt=""/></span></a>
                        <ul class="dropdown-menu newsfeed-home">
                            <li><a href="newsfeed-single.html">Newsfeed</a></li>
                            <li><a href="newsfeed-people-nearby.html">Poeple Nearly</a></li>
                            <li><a href="newsfeed-users.html">My friends</a></li>
                            <li><a href="newsfeed-messages.html">Chatroom</a></li>
                            <li><a href="newsfeed-images.html">Images</a></li>
                            <li><a href="newsfeed-videos.html">Videos</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Timeline <span><img src="/assets/images/down-arrow.png" alt=""/></span></a>
                        <ul class="dropdown-menu login">
                            <li><a href="timeline.html">Timeline</a></li>
                            <li><a href="personal-info.html">Timeline About</a></li>
                            <li><a href="timeline-album.html">Timeline Album</a></li>
                            <li><a href="personal-friends.html">Timeline Friends</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle pages" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">All Pages <span><img
                                src="/assets/images/down-arrow.png"
                                alt=""/></span></a>
                        <ul class="dropdown-menu page-list">
                            <li><a href="index.html">Landing Page</a></li>
                            <li><a href="newsfeed-single.html">Newsfeed</a></li>
                            <li><a href="newsfeed-people-nearby.html">Poeple Nearly</a></li>
                            <li><a href="newsfeed-users.html">My friends</a></li>
                            <li><a href="newsfeed-messages.html">Chatroom</a></li>
                            <li><a href="newsfeed-images.html">Images</a></li>
                            <li><a href="newsfeed-videos.html">Videos</a></li>
                            <li><a href="timeline.html">Timeline</a></li>
                            <li><a href="personal-info.html">Timeline About</a></li>
                            <li><a href="timeline-album.html">Timeline Album</a></li>
                            <li><a href="personal-friends.html">Timeline Friends</a></li>
                            <li><a href="contact.html">Contact Us</a></li>
                        </ul>
                    </li>-->
                </ul>
                <form th:action="@{'/users'}" class="navbar-form navbar-right hidden-sm">
                    <div class="form-group">
                        <i class="icon ion-android-search"></i>
                        <input type="text" class="form-control" placeholder="Search users" th:name="word">
                    </div>
                </form>
            </div>
        </div>
    </nav>
</header>
<!--Header End-->

<!-- Header private
================================================= -->
<header id="header" sec:authorize="isAuthenticated()">
    <nav class="navbar navbar-default navbar-fixed-top menu">
        <div class="container">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" th:href="${'/'}"><img src="/assets/images/logo.png" alt="logo"/></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right main-menu">
                    <li class="dropdown"><a th:href="@{'/'}">Home</a></li>
                    <li class="dropdown"><a th:href="@{'/user/movies'}">Movies</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle pages" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">Notifications<span><img
                                style="display: inline-block"
                                src="/assets/images/down-arrow.png" alt=""/></span><p style="display: inline-block" th:if="${unread.size() > 0}" th:text="${unread.size()}"></p></a>
                        <ul class="dropdown-menu page-list" style="width: 300px;">
                            <form id="myForm" th:each="notification : ${unread}"
                                  th:action="@{'/notification?id=' + ${notification.id}}" method="post">
                                <li style="line-height: 10%; text-align: left; margin-left: 15px; margin-right: 15px; margin-bottom: 10px;">
                                    <a onclick="document.getElementById('myForm').submit();"
                                       th:text="${notification.text}"></a></li>
                            </form>
                            <li style="line-height: 5%; text-align: center;"><a
                                    th:href="@{'/user/' + ${user.username} + '/notifications'}">Show All</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle pages" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">Edit Profile<span><img
                                src="/assets/images/down-arrow.png" alt=""/></span></a>
                        <ul class="dropdown-menu page-list">
                            <li><a th:href="@{'/user/' + ${user.username} + '/edit/basic'}">Basic Info</a></li>
                            <li><a th:href="@{'/user/' + ${user.username} + '/edit/photos'}">Photos</a></li>
                            <li><a th:href="@{'/user/' + ${user.username} + '/edit/work'}">Work</a></li>
                            <li><a th:href="@{'/user/' + ${user.username} + '/edit/interests'}">Genres</a></li>
                            <li><a th:href="@{'/user/' + ${user.username} + '/edit/movies'}">Movies</a></li>
                            <li><a th:href="@{'/user/' + ${user.username} + '/edit/password'}">Change Password</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="javascript: document.logoutForm.submit()"
                                            sec:authorize="isAuthenticated()">Log Out</a>
                        <form name="logoutForm" th:action="@{/logout}" method="post">
                            <input hidden type="submit"/>
                        </form>
                    </li>
                </ul>
                <form th:action="@{'/user/search'}" class="navbar-form navbar-right hidden-sm">
                    <div class="form-group">
                        <i class="icon ion-android-search"></i>
                        <input type="text" class="form-control" placeholder="Search users" th:name="word">
                    </div>
                </form>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>
</header>
<!--Header End-->

<!-- Top Banner
================================================= -->
<section id="banner" sec:authorize="!isAuthenticated()">
    <div class="container">

        <!-- Sign Up Form
        ================================================= -->
        <div class="sign-up-form">
            <a class="logo"><img src="/assets/images/logo.png" alt="Friend Finder"/></a>
            <h2 class="text-white">Find Cinema Addicted Friends</h2>
            <div class="line-divider"></div>
            <div class="form-wrapper">
                <p class="signup-text">Meet cineasts around the world</p>
                <p>
                    <i th:if="${param.error}" class="error">Wrong username or password.</i>
                </p>
                <form action="#" th:action="@{/authenticate}" method="post">
                    <div class="form-group">
                        <input type="text" name="username" placeholder="Username" required class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" placeholder="Password" required class="form-control">
                    </div>
                    <br>
                    <input type="submit" value="SignIn" class="btn-secondary"></input>
                    <!--<form>
                        <button type="submit" class="btn-secondary">SignIn</button>
                    </form>-->
                </form>
            </div>
            <a th:href="@{/forgotten-password}">Forgot password?</a>
            <img class="form-shadow" src="/assets/images/bottom-shadow.png" alt=""/>
            <br>
            <a th:href="@{/register}">Don't have an account?</a>
            <img class="form-shadow" src="/assets/images/bottom-shadow.png" alt=""/>
        </div><!-- Sign Up Form End -->

        <svg class="arrows hidden-xs hidden-sm">
            <path class="a1" d="M0 0 L30 32 L60 0"></path>
            <path class="a2" d="M0 20 L30 52 L60 20"></path>
            <path class="a3" d="M0 40 L30 72 L60 40"></path>
        </svg>
    </div>
</section>

<!-- Features Section
================================================= -->
<section id="features" sec:authorize="!isAuthenticated()">
    <div class="container wrapper">
        <h1 class="section-title slideDown">connectFlix</h1>
        <div class="row slideUp">
            <div class="feature-item col-md-2 col-sm-6 col-xs-6 col-md-offset-2">
                <div class="feature-icon"><i class="icon ion-person-add"></i></div>
                <h3>Make Friends</h3>
            </div>
            <div class="feature-item col-md-2 col-sm-6 col-xs-6">
                <div class="feature-icon"><i class="icon ion-images"></i></div>
                <h3>Publish Posts</h3>
            </div>
            <div class="feature-item col-md-2 col-sm-6 col-xs-6">
                <div class="feature-icon"><i class="icon ion-compose"></i></div>
                <h3>Comment Posts</h3>
            </div>
            <div class="feature-item col-md-2 col-sm-6 col-xs-6">
                <div class="feature-icon"><i class="icon ion-videocamera"></i></div>
                <h3>Search Movies</h3>
            </div>
        </div>
        <h2 class="sub-title">find awesome people like you</h2>
        <!--<div id="incremental-counter" data-value="101242"></div>
        <p>People Already Signed Up</p>-->
        <img src="/assets/images/face-map.png" alt="" class="img-responsive face-map slideUp hidden-sm hidden-xs"/>
    </div>

</section>

<!-- Download Section
================================================= -->
<!--<section id="app-download">
    <div class="container wrapper">
        <h1 class="section-title slideDown">download</h1>
        <ul class="app-btn list-inline slideUp">
            <li>
                <button class="btn-secondary"><img src="/assets/images/app-store.png" alt="App Store"/></button>
            </li>
            <li>
                <button class="btn-secondary"><img src="/assets/images/google-play.png" alt="Google Play"/></button>
            </li>
        </ul>
        <h2 class="sub-title">stay connected anytime, anywhere</h2>
        <img src="/assets/images/iPhone.png" alt="iPhone" class="img-responsive"/>
    </div>
</section>-->

<!-- Image Divider
================================================= -->
<div class="img-divider hidden-sm hidden-xs" sec:authorize="!isAuthenticated()"></div>

<!-- Facts Section
================================================= -->
<section id="site-facts" sec:authorize="!isAuthenticated()">
    <div class="container wrapper">
        <div class="circle">
            <ul class="facts-list">
                <li>
                    <div class="fact-icon"><i class="icon ion-ios-people-outline"></i></div>
                    <h3 class="text-white"><p th:text="${usersCount}"></p></h3>
                    <p>People registered</p>
                </li>
                <li>
                    <div class="fact-icon"><i class="icon ion-images"></i></div>
                    <h3 class="text-white"><p th:text="${postsCount}"></p></h3>
                    <p>Posts published</p>
                </li>
                <li>
                    <div class="fact-icon"><i class="icon ion-checkmark-round"></i></div>
                    <h3 class="text-white"><p th:text="${friendsCount}"></p></h3>
                    <p>Friend connections</p>
                </li>
            </ul>
        </div>
    </div>
</section>

<!-- Live Feed Section
================================================= -->
<section id="live-feed" sec:authorize="!isAuthenticated()">
    <div class="container wrapper">
        <h1 class="section-title slideDown">live feed</h1>
        <ul class="online-users list-inline slideUp">
            <li><a href="#" title="Alexis Clark"><img src="/assets/images/users/user-5.jpg" alt=""
                                                      class="img-responsive profile-photo"/><span
                    class="online-dot"></span></a></li>
            <li><a href="#" title="James Carter"><img src="/assets/images/users/user-6.jpg" alt=""
                                                      class="img-responsive profile-photo"/><span
                    class="online-dot"></span></a></li>
            <li><a href="#" title="Robert Cook"><img src="/assets/images/users/user-7.jpg" alt=""
                                                     class="img-responsive profile-photo"/><span
                    class="online-dot"></span></a></li>
            <li><a href="#" title="Richard Bell"><img src="/assets/images/users/user-8.jpg" alt=""
                                                      class="img-responsive profile-photo"/><span
                    class="online-dot"></span></a></li>
            <li><a href="#" title="Anna Young"><img src="/assets/images/users/user-9.jpg" alt=""
                                                    class="img-responsive profile-photo"/><span
                    class="online-dot"></span></a></li>
            <li><a href="#" title="Julia Cox"><img src="/assets/images/users/user-10.jpg" alt=""
                                                   class="img-responsive profile-photo"/><span
                    class="online-dot"></span></a></li>
        </ul>
        <h2 class="sub-title">see what’s happening now</h2>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-md-offset-2">
                <div class="feed-item" th:each="post, iterStat : ${publicPosts}" th:if="${iterStat.index}<5">
                    <img th:if="${post.creator.picture == null or post.creator.picturePrivacy == true}"
                         src="/assets/images/bg/person_1.jpg" alt="user" class="img-responsive profile-photo-sm"/>
                    <img th:unless="${post.creator.picture == null or post.creator.picturePrivacy == true}"
                         th:src="@{'/image?username=' + ${post.creator.user.username}}" alt="user"
                         class="img-responsive profile-photo-sm"/>
                    <div class="live-activity">
                        <p><a th:href="@{'/' + ${post.creator.user.username}}" class="profile-link"
                              th:text="${post.creator.firstName + ' ' + post.creator.lastName}"></a><span>
                            <a class="text-muted" th:text="${dateFormat.format(post.date)}"></a></span></p>
                        <p class="text-muted" th:text="${post.text}"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="feed-item" th:each="post, iterStat : ${publicPosts}" th:if="${iterStat.index}>4">
                    <img th:if="${post.creator.picture == null or post.creator.picturePrivacy == true}"
                         src="/assets/images/bg/person_1.jpg" alt="user" class="img-responsive profile-photo-sm"/>
                    <img th:unless="${post.creator.picture == null or post.creator.picturePrivacy == true}"
                         th:src="@{'/image?username=' + ${post.creator.user.username}}" alt="user"
                         class="img-responsive profile-photo-sm"/>
                    <div class="live-activity">
                        <p><a th:href="@{'/' + ${post.creator.user.username}}" class="profile-link"
                              th:text="${post.creator.firstName + ' ' + post.creator.lastName}"></a><span>
                            <a class="text-muted" th:text="${dateFormat.format(post.date)}"></a></span></p>
                        <p class="text-muted" th:text="${post.text}"></p>
                    </div>
                </div>
            </div>
        </div>
</section>

<!-- News Feed
================================================= -->
<div id="page-contents" sec:authorize="isAuthenticated()">
    <div class="container">
        <div class="row">

            <!-- Newsfeed Common Side Bar Left
            ================================================= -->
            <div class="col-md-3 static">
                <div class="profile-card">
                    <!--<img src="/assets/images/bg/person_1.jpg" alt="user" class="profile-photo"/>-->
                    <img th:if="${userInfo.picture} == null" src="/assets/images/bg/person_1.jpg" alt="user"
                         class="profile-photo">
                    <img th:unless="${userInfo.picture} == null" th:src="@{'/user/image?username=' + ${user.username}}"
                         alt="user" class="profile-photo">
                    <h4><a th:href="@{'/user/' + ${user.username}}" class="text-white"
                           th:text="${userInfo.firstName + ' ' + userInfo.lastName}"></a></h4>
                </div><!--profile card ends-->
                <ul class="nav-news-feed">
                    <li><i class="icon ion-ios-paper"></i>
                        <div><a th:href="@{'/user/' + ${user.username}}">My Newsfeed</a></div>
                    </li>
                    <li><i class="icon ion-ios-people-outline"></i>
                        <div><a th:href="@{'/user/' + ${user.username} + '/friends'}">Friends</a></div>
                    </li>
                </ul><!--news-feed links ends-->
            </div>

            <div class="col-md-7">

                <!-- Post Create Box
                ================================================= -->
                <div class="create-post">
                    <div class="row">
                        <form th:action="@{/feed/post}" th:object="${addPost}" method="post"
                              enctype="multipart/form-data">
                            <div class="col-md-7 col-sm-7">
                                <div class="form-group">
                                    <!--<img src="http://placehold.it/300x300" alt="" class="profile-photo-md"/>-->
                                    <img th:if="${userInfo.picture} == null" src="/assets/images/bg/person_1.jpg"
                                         alt="user" class="profile-photo-md">
                                    <img th:unless="${userInfo.picture} == null"
                                         th:src="@{'/user/image?username=' + ${user.username}}" alt="user"
                                         class="profile-photo-md">
                                    <!--                                    <input type="text" th:field="*{text}">-->
                                    <textarea minlength="2" maxlength="1500" name="texts" id="exampleTextarea"
                                              cols="30" rows="1"
                                              class="form-control"
                                              placeholder="Write what you wish" type="text"
                                              th:field="*{text}" required></textarea>
                                </div>
                                <div class="bottom-left" style="display: inline-flex">
                                    <span style="margin-top: 6px; margin-left: 60px">
                                            <input type="checkbox"
                                                   th:field="*{privacy}" checked>
                                            <span>Private</span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-5">
                                <div class="tools">
                                    <div class="publish-line" style="display: inline-flex">
                                        <input id='imagefile' class="imagefile" type="file" name='imagefile'/>
                                        <label for="imagefile"></label>
                                        <input type="submit" class="btn btn-primary pull-left" value="Publish">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div><!-- Post Create Box End-->

                <!-- Post Content
                ================================================= -->
                <div class="list">
                    <div class="post-content" th:each="post : ${newsFeed}">
                        <img th:if="${post.picture} != null" th:src="@{'/feed/image?id=' + ${post.id}}"
                             class="img-responsive post-image"/>
                        <div class="post-container">
                            <img th:if="${post.creator.picture} == null" src="/assets/images/bg/person_1.jpg" alt="user"
                                 class="profile-photo-md pull-left">
                            <img th:unless="${post.creator.picture} == null"
                                 th:src="@{'/user/image?username=' + ${post.creator.user.username}}" alt="user"
                                 class="profile-photo-md pull-left">
                            <div class="post-detail" th:id="'post-detail' + ${post.id}">
                                <div class="user-info">
                                    <h5><a th:text="${post.creator.firstName + ' ' + post.creator.lastName}"
                                           th:href="@{'/user/' + ${post.creator.user.username}}"
                                           class="profile-link"></a>
                                    </h5>
                                    <p class="text-muted" th:text="${dateFormat.format(post.date)}"></p>
                                </div>
                                <div class="reaction" th:id="'reaction' + ${post.id}">
                                    <a th:href="@{'/feed/post/details?id=' + ${post.id}}" class="btn view-details"></a>
                                    <span th:id="'likes-count' + ${post.id}" th:text="${likes.get(post)}"
                                          style="margin-left: 15px"></span>
                                    <form class="formButtons">
<!--                                        <span th:id="'likes-count' + ${post.id}" th:text="${likes.get(post)}"-->
<!--                                              style="margin-left: 15px"></span>-->
                                        <input type="hidden" th:value="${post.id}" class="postId" name="postId"
                                               style="display: none">
                                        <input class="status" name="status" type="hidden" th:value="'liked'"
                                               style="display: none">
                                        <input class="userId" type="hidden" name="userId" th:value="${userInfo.id}">
                                        <input class="creatorId" type="hidden" name="creatorId" th:value="${post.creator.id}">
                                        <a class="likeButton"></a>
                                    </form>
                                    <span th:id="'dislikes-count' + ${post.id}"
                                          th:text="${dislikes.get(post)}"></span>
                                    <form class="formButtons">
<!--                                        <span th:id="'dislikes-count' + ${post.id}"-->
<!--                                              th:text="${dislikes.get(post)}"></span>-->
                                        <input class="status" name="status" type="hidden" th:value="'disliked'">
                                        <input type="hidden" th:value="${post.id}" class="postId" name="postId">
                                        <input type="hidden" th:value="${userInfo.id}" class="userId" name="userId">
                                        <input class="creatorId" type="hidden" name="creatorId" th:value="${post.creator.id}">
                                        <a class="dislikeButton"></a>
                                    </form>
                                </div>
                                <div class="line-divider"></div>
                                <div class="post-text">
                                    <p th:text="${post.text}" style="width: 500px;overflow-wrap: break-word"></p>
                                </div>
                                <div class="line-divider"></div>
                                <div class="comment-section" th:id="'comment-section' + ${post.id}">
                                    <button class="show-comments" >Show Comments</button>
                                    <div style="display: none" class="comments"
                                         th:id="'comments' + ${post.id}">
                                        <div class="post-comment" th:id="'post-comment' + ${post.id}"
                                             th:each="comment, iterStat : ${post.comments}" th:if="${iterStat.index} < 5">
                                            <div class="comment-container" style="display: inline-flex">
                                                <img th:if="${comment.creator.picture} == null"
                                                     src="http://placehold.it/300x300"
                                                     alt="" class="profile-photo-sm"/>
                                                <img th:unless="${comment.creator.picture} == null"
                                                     th:src="@{'/user/image?username=' + ${comment.creator.user.username}}"
                                                     alt=""
                                                     class="profile-photo-sm"/>
                                                <a th:href="@{'/user/' + ${comment.creator.user.username}}"
                                                   class="profile-link"
                                                   th:text="${comment.creator.firstName}"> </a>
                                                <p th:id="'comment-text' + ${comment.id}" th:text="${comment.text}"
                                                   style="width: 350px; overflow-wrap: break-word"></p>
                                            </div>
                                            <button type="button" class="editComment"
                                                    th:if="${comment.creator == userInfo or #authorization.expression('hasRole(''ADMIN'')')}"></button>
                                            <p style="margin-left: 53px; font-size: 10px"
                                               th:text="${dateFormat.format(comment.date)}"></p>
                                            <div class="line-divider"></div>
                                            <div class="editCommnt" style="display: none; margin-bottom: 10px ">
                                                <form>
                                        <textarea minlength="2" maxlength="500" cols="20" rows="1" type="text"
                                                  class="text form-control" th:text="${comment.text}"
                                                  placeholder="Edit the comment" id="text" name="text"
                                                  required></textarea>
                                                    <input class="cmntId" name="cmntId" type="hidden"
                                                           th:value="${comment.id}">
                                                    <a class="edit-comment btn btn-primary pull-left"
                                                       style="margin-bottom: 10px">Edit</a>
                                                    <a class="deleteComment pull-right"></a>
                                                </form>
                                            </div>
                                        </div>
                                        <a th:if="${!post.comments.isEmpty() && post.comments.size() > 5}" class="discussion" th:href="@{'/feed/post/details?id=' + ${post.id}}">Get into details</a>
                                    </div>
                                </div>
                                <div class="post-comment" style="display: inline-flex">
                                    <img th:if="${userInfo.picture} == null" src="http://placehold.it/300x300" alt=""
                                         class="profile-photo-sm"/>
                                    <img th:unless="${userInfo.picture} == null"
                                         th:src="@{'/user/image?username=' + ${user.username}}" alt=""
                                         class="profile-photo-sm"/>
                                    <form>
                                        <textarea minlength="2" maxlength="300" cols="20" rows="1" type="text"
                                                  class="form-control commentTxt" placeholder="Post a comment"
                                                  name="text"
                                                  required></textarea>
                                        <input type="hidden" class="postId" th:value="${post.id}" name="postId">
                                        <input type="hidden" class="userId" th:value="${userInfo.id}" name="userId">
                                        <input class="creatorId" type="hidden" name="creatorId" th:value="${post.creator.id}">
                                        <div class="comment-buttons">
                                            <a class="add-comment btn btn-primary">Comment</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a th:if="${newsFeed.getNumberOfElements() == 10}" class="show-more-posts show-comments">SHOW MORE POSTS</a>
                </div>

                <!-- Pagination-->
                <!--                <nav aria-label="Pagination" th:if="${newsFeed.totalPages gt 0}">-->
                <!--                    <ul class="pagination justify-content-center font-weight-medium">-->
                <!--                        <li class="page-item" th:classappend="${newsFeed.number eq 0} ? 'disabled'">-->
                <!--                            <a class="page-link svg-icon"-->
                <!--                               th:href="@{/?page={id}(id=${newsFeed.number lt 2 ? 1 : newsFeed.number})}"-->
                <!--                               aria-label="Previous"-->
                <!--                               title="Previous Page" rel="tooltip">-->
                <!--                                <span aria-hidden="true" data-feather="chevrons-left" width="20" height="20"></span>-->
                <!--                            </a>-->
                <!--                        </li>-->
                <!--                        <li class="page-item" th:classappend="${i eq newsFeed.number + 1} ? 'active'"-->
                <!--                            th:each="i : ${#numbers.sequence( newsFeed.number + 1, newsFeed.totalPages > 10 + newsFeed.number ? newsFeed.number + 10 : newsFeed.totalPages, 1)}">-->
                <!--                            <a class="page-link" th:href="@{/?page={id}(id=${i})}" th:text="${i}"-->
                <!--                               th:title="${'Page '+ i}"-->
                <!--                               rel="tooltip"></a>-->
                <!--                        </li>-->
                <!--                        <li class="page-item disabled" th:if="${newsFeed.number + 10 < newsFeed.totalPages}">-->
                <!--                            <a class="page-link svg-icon" href="#">-->
                <!--                                <span data-feather="more-horizontal" width="20" height="20"></span>-->
                <!--                            </a>-->
                <!--                        </li>-->
                <!--                        <li class="page-item"-->
                <!--                            th:classappend="${newsFeed.number + 1 eq newsFeed.totalPages} ? 'disabled'">-->
                <!--                            <a class="page-link svg-icon" th:href="@{/?page={id}(id=${newsFeed.number + 2})}"-->
                <!--                               aria-label="Next"-->
                <!--                               title="Next Page" rel="tooltip">-->
                <!--                                <span aria-hidden="true" data-feather="chevrons-right" width="20" height="20"></span>-->
                <!--                            </a>-->
                <!--                        </li>-->
                <!--                    </ul>-->
                <!--                </nav>-->

            </div>

            <!-- Post Content
            ================================================= -->
            <!-- Newsfeed Common Side Bar Right
            ================================================= -->
        </div>
    </div>
</div>

<!-- Footer
================================================= -->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="footer-wrapper">
                <!--<div class="col-md-3 col-sm-3">
                    <a href=""><img src="/assets/images/logo-black.png" alt="" class="footer-logo"/></a>
                    <ul class="list-inline social-icons">
                        <li><a href="#"><i class="icon ion-social-facebook"></i></a></li>
                        <li><a href="#"><i class="icon ion-social-twitter"></i></a></li>
                        <li><a href="#"><i class="icon ion-social-googleplus"></i></a></li>
                        <li><a href="#"><i class="icon ion-social-pinterest"></i></a></li>
                        <li><a href="#"><i class="icon ion-social-linkedin"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-2">
                    <h6>For individuals</h6>
                    <ul class="footer-links">
                        <li><a href="">Signup</a></li>
                        <li><a href="">login</a></li>
                        <li><a href="">Explore</a></li>
                        <li><a href="">Finder app</a></li>
                        <li><a href="">Features</a></li>
                        <li><a href="">Language settings</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-2">
                    <h6>For businesses</h6>
                    <ul class="footer-links">
                        <li><a href="">Business signup</a></li>
                        <li><a href="">Business login</a></li>
                        <li><a href="">Benefits</a></li>
                        <li><a href="">Resources</a></li>
                        <li><a href="">Advertise</a></li>
                        <li><a href="">Setup</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-2">
                    <h6>About</h6>
                    <ul class="footer-links">
                        <li><a href="">About us</a></li>
                        <li><a href="">Contact us</a></li>
                        <li><a href="">Privacy Policy</a></li>
                        <li><a href="">Terms</a></li>
                        <li><a href="">Help</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-3">
                    <h6>Contact Us</h6>
                    <ul class="contact">
                        <li><i class="icon ion-ios-telephone-outline"></i>+1 (234) 222 0754</li>
                        <li><i class="icon ion-ios-email-outline"></i>info@thunder-team.com</li>
                        <li><i class="icon ion-ios-location-outline"></i>228 Park Ave S NY, USA</li>
                    </ul>
                </div>-->
            </div>
        </div>
    </div>
</footer>

<!--preloader-->
<div id="spinner-wrapper">
    <div class="spinner"></div>
</div>

<!-- Scripts
================================================= -->
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTMXfmDn0VlqWIyoOxK8997L-amWbUPiQ&callback=initMap"></script>

<script src="/assets/js/jquery-3.1.1.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/jquery.appear.min.js"></script>
<script src="/assets/js/jquery.incremental-counter.js"></script>
<script src="/assets/js/script.js"></script>

<script src="/assets/js/jquery.sticky-kit.min.js"></script>
<script src="/assets/js/jquery.scrollbar.min.js"></script>

</body>
</html>
