<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="post-content" th:each="post : ${loadPosts}">
    <img th:if="${post.picture} != null" th:src="@{'/feed/image?id=' + ${post.id}}"
         class="img-responsive post-image"/>
    <div class="post-container">
        <img th:if="${post.creator.picture} == null" src="/assets/images/bg/person_1.jpg" alt="user"
             class="profile-photo-md pull-left">
        <img th:unless="${post.creator.picture} == null"
             th:src="@{'/user/image?username=' + ${post.creator.user.username}}" alt="user"
             class="profile-photo-md pull-left">
        <div class="post-detail">
            <div class="user-info">
                <h5><a th:text="${post.creator.firstName + ' ' + post.creator.lastName}"
                       th:href="@{'/user/' + ${post.creator.user.username}}"
                       class="profile-link"></a>
                </h5>
                <p class="text-muted" th:text="${dateFormat.format(post.date)}"></p>
            </div>
            <div class="reaction" th:id="'reaction' + ${post.id}">
                <a th:href="@{'/feed/post/details?id=' + ${post.id}}" class="btn view-details"></a>
                <form class="formButtons">
                                        <span th:id="'likes-count' + ${post.id}" th:text="${likes.get(post)}"
                                              style="margin-left: 15px"></span>
                    <input type="hidden" th:value="${post.id}" class="postId" name="postId"
                           style="display: none">
                    <input class="status" name="status" type="hidden" th:value="'liked'"
                           style="display: none">
                    <input class="userId" type="hidden" name="userId" th:value="${userInfo.id}">
                    <a class="likeButton"></a>
                </form>
                <form class="formButtons">
                                        <span th:id="'dislikes-count' + ${post.id}"
                                              th:text="${dislikes.get(post)}"></span>
                    <input class="status" name="status" type="hidden" th:value="'disliked'">
                    <input type="hidden" th:value="${post.id}" class="postId" name="postId">
                    <input type="hidden" th:value="${userInfo.id}" class="userId" name="userId">
                    <a class="dislikeButton"></a>
                </form>
            </div>
            <div class="line-divider"></div>
            <div class="post-text">
                <p th:text="${post.text}" style="width: 500px;overflow-wrap: break-word"></p>
            </div>
            <div class="line-divider"></div>
            <div class="comment-section" th:id="'comment-section' + ${post.id}">
                <button class="show-comments">Show Comments</button>
                <div style="display: none" class="comments">
                    <div class="post-comment" th:id="'post-comment' + ${post.id}" th:each="comment : ${post.comments}">
                        <div class="comment-container" style="display: inline-flex">
                            <img th:if="${comment.creator.picture} == null"
                                 src="http://placehold.it/300x300"
                                 alt="" class="profile-photo-sm"/>
                            <img th:unless="${comment.creator.picture} == null"
                                 th:src="@{'/user/image?username=' + ${comment.creator.user.username}}"
                                 alt=""
                                 class="profile-photo-sm"/>
                            <a th:href="@{'/user/' + ${comment.creator.user.username}}"
                               class="profile-link"
                               th:text="${comment.creator.firstName}"> </a>
                            <p th:id="'comment-text' + ${comment.id}" th:text="${comment.text}"
                               style="width: 350px; overflow-wrap: break-word"></p>
                        </div>
                        <button type="button" class="editComment"
                                th:if="${comment.creator == userInfo}"></button>
                        <div class="line-divider"></div>
                        <div class="editCommnt" style="display: none; margin-bottom: 10px ">
                            <form>
                                        <textarea minlength="2" maxlength="300" cols="20" rows="1" type="text"
                                                  class="text form-control" th:text="${comment.text}"
                                                  placeholder="Edit the comment" id="text" name="text"
                                                  required></textarea>
                                <input class="cmntId" name="cmntId" type="hidden" th:value="${comment.id}">
                                <a class="edit-comment btn btn-primary pull-left"
                                   style="margin-bottom: 10px">Edit</a>
                                <a class="deleteComment pull-right"></a>
                            </form>
                        </div>
                    </div>
                    <a th:if="${!post.comments.isEmpty()}" class="discussion" th:href="@{'/feed/post/details?id=' + ${post.id}}" style="display: block">Get into details</a>
                </div>
                <div class="post-comment" style="display: inline-flex">
                    <img th:if="${userInfo.picture} == null" src="http://placehold.it/300x300" alt=""
                         class="profile-photo-sm"/>
                    <img th:unless="${userInfo.picture} == null"
                         th:src="@{'/user/image?username=' + ${user.username}}" alt=""
                         class="profile-photo-sm"/>
                    <form>
                                        <textarea minlength="2" maxlength="300" cols="20" rows="1" type="text"
                                                  class="form-control commentTxt" placeholder="Post a comment"
                                                  name="text"
                                                  required></textarea>
                        <input type="hidden" class="postId" th:value="${post.id}" name="postId">
                        <input type="hidden" class="userId" th:value="${userInfo.id}" name="userId">
                        <div class="comment-buttons">
                            <a class="add-comment btn btn-primary">Comment</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>