<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="This is social network html5 template available in themeforest......"/>
    <meta name="keywords" content="Social Network, Social Media, Make Friends, Newsfeed, Profile Page"/>
    <meta name="robots" content="index, follow"/>
    <title>ConnectFlix | Users</title>

    <!-- Stylesheets
================================================= -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/assets/css/style.css"/>
    <link rel="stylesheet" href="/assets/css/ionicons.min.css"/>
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css"/>

    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i" rel="stylesheet">

    <!--Favicon-->
    <link rel="shortcut icon" type="image/png" href="/assets/images/fav.png"/>
</head>
<body>

<!-- Header
================================================= -->
<header id="header" sec:authorize="isAuthenticated()">
    <nav class="navbar navbar-default navbar-fixed-top menu">
        <div class="container">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" th:href="${'/'}"><img src="/assets/images/logo.png" alt="logo"/></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right main-menu">
                    <li class="dropdown"><a th:href="@{'/'}">Home</a></li>
                    <li class="dropdown"><a th:href="@{'/user/movies'}">Movies</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle pages" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">Notifications<span><img
                                style="display: inline-block"
                                src="/assets/images/down-arrow.png" alt=""/></span><p style="display: inline-block" th:if="${unread.size() > 0}" th:text="${unread.size()}"></p></a>
                        <ul class="dropdown-menu page-list" style="width: 300px;">
                            <form id="myForm" th:each="notification : ${unread}"
                                  th:action="@{'/notification?id=' + ${notification.id}}" method="post">
                                <li style="line-height: 10%; text-align: left; margin-left: 15px; margin-right: 15px; margin-bottom: 10px;">
                                    <a onclick="document.getElementById('myForm').submit();"
                                       th:text="${notification.text}"></a></li>
                            </form>
                            <li style="line-height: 5%; text-align: center;"><a
                                    th:href="@{'/user/' + ${user.username} + '/notifications'}">Show All</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle pages" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">Edit Profile<span><img
                                src="/assets/images/down-arrow.png" alt=""/></span></a>
                        <ul class="dropdown-menu page-list">
                            <li><a th:href="@{'/user/' + ${user.username} + '/edit/basic'}">Basic Info</a></li>
                            <li><a th:href="@{'/user/' + ${user.username} + '/edit/photos'}">Photos</a></li>
                            <li><a th:href="@{'/user/' + ${user.username} + '/edit/work'}">Work</a></li>
                            <li><a th:href="@{'/user/' + ${user.username} + '/edit/interests'}">Genres</a></li>
                            <li><a th:href="@{'/user/' + ${user.username} + '/edit/movies'}">Movies</a></li>
                            <li><a th:href="@{'/user/' + ${user.username} + '/edit/password'}">Change Password</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="javascript: document.logoutForm.submit()"
                                            sec:authorize="isAuthenticated()">Log Out</a>
                        <form name="logoutForm" th:action="@{/logout}" method="post">
                            <input hidden type="submit"/>
                        </form>
                    </li>
                </ul>
                <form th:action="@{'/user/search'}" class="navbar-form navbar-right hidden-sm">
                    <div class="form-group">
                        <i class="icon ion-android-search"></i>
                        <input type="text" class="form-control" placeholder="Search users" th:name="word">
                    </div>
                </form>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>
</header>
<!--Header End-->

<div id="page-contents">
    <div class="container">
        <div class="row">

            <!-- Newsfeed Common Side Bar Left
      ================================================= -->
            <div class="col-md-3 static">
                <div class="profile-card">
                    <!--<img src="/assets/images/bg/person_1.jpg" alt="user" class="profile-photo"/>-->
                    <img th:if="${userInfo.picture} == null" src="/assets/images/bg/person_1.jpg" alt="user" class="profile-photo">
                    <img th:unless="${userInfo.picture} == null" th:src="@{'/user/image?username=' + ${user.username}}" alt="user" class="profile-photo">
                    <h4><a th:href="@{'/user/' + ${user.username}}" class="text-white" th:text="${userInfo.firstName + ' ' + userInfo.lastName}"></a></h4>
                    <!--<a href="#" class="text-white"><i class="ion ion-android-person-add"></i> 1,299 followers</a>-->
                </div><!--profile card ends-->
                <ul class="nav-news-feed">
                    <li><i class="icon ion-ios-paper"></i>
                        <div><a th:href="@{'/user/' + ${user.username}}">My Newsfeed</a></div>
                    </li>
                    <li><i class="icon ion-ios-people-outline"></i>
                        <div><a th:href="@{'/user/' + ${user.username} + '/friends'}">Friends</a></div>
                    </li>
                </ul><!--news-feed links ends-->
            </div>

            <div class="col-md-7">

                <!-- Post Create Box
                ================================================= -->
                <!--<div class="create-post">
                    <div class="row">
                        <div class="col-md-7 col-sm-7">
                            <div class="form-group">
                                <img src="http://placehold.it/300x300" alt="" class="profile-photo-md"/>
                                <textarea name="texts" id="exampleTextarea" cols="30" rows="1" class="form-control"
                                          placeholder="Write what you wish"></textarea>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-5">
                            <div class="tools">
                                <ul class="publishing-tools list-inline">
                                    <li><a href="#"><i class="ion-compose"></i></a></li>
                                    <li><a href="#"><i class="ion-images"></i></a></li>
                                    <li><a href="#"><i class="ion-ios-videocam"></i></a></li>
                                    <li><a href="#"><i class="ion-map"></i></a></li>
                                </ul>
                                <button class="btn btn-primary pull-right">Publish</button>
                            </div>
                        </div>
                    </div>
                </div>-->

                <!-- Friend List
                ================================================= -->
                <div class="friend-list">
                    <div class="row">
                        <!-- Friends-->
                        <div class="col-md-6 col-sm-6" th:each="friend : ${friends}">
                            <div class="friend-card">
                                <img th:if="${friend.coverPicture} == null" src="/assets/images/bg/4-small.jpg" alt="profile-cover"
                                     class="img-responsive cover" style="width: 300px; height: 120px; border-radius: 5px; object-fit: cover"/>
                                <img th:if="${friend.coverPicture} != null" th:src="@{'/user/image/cover?username=' + ${friend.user.username}}"
                                     alt="profile-cover" class="img-responsive cover" style="width: 300px; height: 120px; border-radius: 5px; object-fit: cover"/>
                                <div class="card-info">
                                    <img th:if="${friend.picture} == null" src="/assets/images/bg/person_1.jpg"
                                         alt="user" class="profile-photo-lg"/>
                                    <img th:unless="${friend.picture} == null"
                                         th:src="@{'/user/image?username=' + ${friend.user.username}}"
                                         alt="user" class="profile-photo-lg"/>
                                    <div class="friend-info">
                                        <a href="#" class="pull-right text-green">My Friend</a>
                                        <h5><a th:href="@{'/user/' + ${friend.user.username}}" class="profile-link"
                                               th:text="${friend.firstName + ' ' + friend.lastName}"></a></h5>
                                        <p th:text="${friend.description}"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Others-->
                        <div class="col-md-6 col-sm-6" th:each="result : ${others}">
                            <div class="friend-card">
                                <img th:if="${result.coverPicture} == null " src="/assets/images/bg/4-small.jpg" alt="profile-cover"
                                     class="img-responsive cover" style="width: 300px; height: 120px; border-radius: 5px; object-fit: cover"/>
                                <img th:if="${result.coverPicture} != null" th:src="@{'/user/image/cover?username=' + ${result.user.username}}"
                                     alt="profile-cover" class="img-responsive cover" style="width: 300px; height: 120px; border-radius: 5px; object-fit: cover"/>
                                <div class="card-info">
                                    <img th:if="${result.picture == null or result.picturePrivacy == true}" src="/assets/images/bg/person_1.jpg"
                                         alt="user" class="profile-photo-lg"/>
                                    <img th:if="${result.picture != null and result.picturePrivacy == false}"
                                         th:src="@{'/user/image?username=' + ${result.user.username}}"
                                         alt="user" class="profile-photo-lg"/>
                                    <div class="friend-info">
                                        <!--<a href="#" class="pull-right text-green"></a>-->
                                        <h5><a th:href="@{'/user/' + ${result.user.username}}" class="profile-link"
                                               th:text="${result.firstName + ' ' + result.lastName}"></a></h5>
                                        <p th:text="${result.description}"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Newsfeed Common Side Bar Right
      ================================================= -->
        </div>
    </div>
</div>

<!-- Footer
================================================= -->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="footer-wrapper">

            </div>
        </div>
    </div>
</footer>

<!--preloader-->
<div id="spinner-wrapper">
    <div class="spinner"></div>
</div>

<!-- Scripts
================================================= -->
<script src="/assets/js/jquery-3.1.1.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/jquery.sticky-kit.min.js"></script>
<script src="/assets/js/jquery.scrollbar.min.js"></script>
<script src="/assets/js/script.js"></script>

</body>
</html>
