<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="This is social network html5 template available in themeforest......"/>
    <meta name="keywords" content="Social Network, Social Media, Make Friends, Newsfeed, Profile Page"/>
    <meta name="robots" content="index, follow"/>
    <title>ConnectFlix | About Me</title>

    <!-- Stylesheets
    ================================================= -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/assets/css/style.css"/>
    <link rel="stylesheet" href="/assets/css/ionicons.min.css"/>
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css"/>

    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i" rel="stylesheet">

    <!--Favicon-->
    <link rel="shortcut icon" type="image/png" href="/assets/images/fav.png"/>
</head>
<body>

<!-- Header
================================================= -->
<header id="header">
    <nav class="navbar navbar-default navbar-fixed-top menu">
        <div class="container">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" th:href="${'/'}"><img src="/assets/images/logo.png" alt="logo"/></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right main-menu">
                    <li class="dropdown"><a th:href="@{'/'}">Home</a></li>
                    <li class="dropdown"><a th:href="@{'/user/movies'}">Movies</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle pages" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">Notifications<span><img
                                style="display: inline-block"
                                src="/assets/images/down-arrow.png" alt=""/></span><p style="display: inline-block" th:if="${unread.size() > 0}" th:text="${unread.size()}"></p></a>
                        <ul class="dropdown-menu page-list" style="width: 300px;">
                            <form id="myForm" th:each="notification : ${unread}"
                                  th:action="@{'/notification?id=' + ${notification.id}}" method="post">
                                <li style="line-height: 10%; text-align: left; margin-left: 15px; margin-right: 15px; margin-bottom: 10px;">
                                    <a onclick="document.getElementById('myForm').submit();"
                                       th:text="${notification.text}"></a></li>
                            </form>
                            <li style="line-height: 5%; text-align: center;"><a
                                    th:href="@{'/user/' + ${user.username} + '/notifications'}">Show All</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle pages" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">Edit Profile <span><img
                                src="/assets/images/down-arrow.png" alt=""/></span></a>
                        <ul class="dropdown-menu page-list">
                            <li><a th:href="@{'/user/' + ${loggedUser.username} + '/edit/basic'}">Basic Info</a></li>
                            <li><a th:href="@{'/user/' + ${loggedUser.username} + '/edit/photos'}">Photos</a></li>
                            <li><a th:href="@{'/user/' + ${loggedUser.username} + '/edit/work'}">Work</a></li>
                            <li><a th:href="@{'/user/' + ${loggedUser.username} + '/edit/interests'}">Genres</a></li>
                            <li><a th:href="@{'/user/' + ${loggedUser.username} + '/edit/movies'}">Movies</a></li>
                            <li><a th:href="@{'/user/' + ${loggedUser.username} + '/edit/password'}">Change Password</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="javascript: document.logoutForm.submit()"
                                            sec:authorize="isAuthenticated()">Log Out</a>
                        <form name="logoutForm" th:action="@{/logout}" method="post">
                            <input hidden type="submit"/>
                        </form>
                    </li>
                </ul>
                <form th:action="@{'/user/search'}" class="navbar-form navbar-right hidden-sm">
                    <div class="form-group">
                        <i class="icon ion-android-search"></i>
                        <input type="text" class="form-control" placeholder="Search users" th:name="word">
                    </div>
                </form>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>
</header>
<!--Header End-->

<div class="container">

    <!-- Timeline
    ================================================= -->
    <div class="timeline">
        <div class="timeline-cover">
            <img th:if="${userInfo.coverPicture} == null" src="/assets/images/bg/4.jpg" alt=""
                 style="width: 1030px; height: 360px; object-fit: cover">
            <img th:if="${userInfo.coverPicture} != null" th:src="@{'/user/image/cover?username=' + ${user.username}}"
                 alt=""
                 style="width: 1030px; height: 360px; object-fit: cover">
            <!--Timeline Menu for Large Screens-->
            <div class="timeline-nav-bar hidden-sm hidden-xs">
                <div class="row">
                    <div class="col-md-3">
                        <div class="profile-info">
                            <!--<img src="/assets/images/bg/person_1.jpg" alt="" class="img-responsive profile-photo"/>-->
                            <img th:if="${userInfo.picture == null}"
                                 src="/assets/images/bg/person_1.jpg" alt=""
                                 class="img-responsive profile-photo">
                            <img th:if="${userInfo.picturePrivacy == false and loggedUser != user and userInfo.picture != null}"
                                 th:src="@{'/user/image?username=' + ${user.username}}" alt=""
                                 class="img-responsive profile-photo">
                            <img th:if="${loggedUser == user and userInfo.picture != null}" th:src="@{'/user/image?username=' + ${user.username}}"
                                 alt=""
                                 class="img-responsive profile-photo">
                            <img th:if="${userInfo.picture != null and userInfo.picturePrivacy == true and status == 'friends' and loggedUser != user}"
                                 th:src="@{'/user/image?username=' + ${user.username}}" alt=""
                                 class="img-responsive profile-photo">
                            <img th:if="${userInfo.picture != null and userInfo.picturePrivacy == true and status != 'friends'and loggedUser != user}"
                                 src="/assets/images/bg/person_1.jpg" alt=""
                                 class="img-responsive profile-photo">
                            <h3><a th:href="@{'/user/' + ${user.username}}"
                                   th:text="${userInfo.firstName + ' ' + userInfo.lastName}"></a></h3>
                            <p class="text-muted" th:text="${userInfo.description}"></p>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <ul class="list-inline profile-menu">
                            <li><a th:href="@{'/user/' + ${user.username}}">Timeline</a></li>
                            <li><a th:href="@{'/user/' + ${user.username} + '/about'}" class="active">About</a></li>
                            <!--<li><a href="timeline-album.html">Album</a></li>-->
                            <li><a th:if="${loggedUser == user}" th:href="@{'/user/' + ${user.username} + '/friends'}">Friends</a></li>
                        </ul>
                        <ul class="follow-me list-inline">
                            <!--<li>1,299 people following her</li>-->
                            <!--<li>
                                <button class="btn-primary">Add Friend</button>
                            </li>-->
                        </ul>
                    </div>
                </div>
            </div><!--Timeline Menu for Large Screens End-->

        </div>
        <div id="page-contents">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-7">

                    <!-- About
                    ================================================= -->
                    <div class="about-profile">
                        <div class="about-content-block">
                            <h4 class="grey"><i class="ion-ios-information-outline icon-in-title"></i>Personal
                                Information</h4>
                            <div th:if="${userInfo.emailPrivacy == false or loggedUser == user or (userInfo.emailPrivacy == true and status == 'friends')}">
                                <h5>E-mail</h5>
                                <p th:text="${userInfo.email}"></p>
                            </div>
                            <div class="line"></div>
                            <div th:if="${userInfo.datePrivacy == false or loggedUser == user or (userInfo.emailPrivacy == true and status == 'friends')}">
                                <h5>Date of birth</h5>
                                <p th:text="${userInfo.birthday}"></p>
                            </div>
                            <div class="line"></div>
                            <div th:if="${userInfo.genderPrivacy == false or loggedUser == user or (userInfo.emailPrivacy == true and status == 'friends')}">
                                <h5>Gender</h5>
                                <p th:text="${userInfo.gender}"></p>
                            </div>
                        </div>
                        <div class="about-content-block">
                            <h4 class="grey"><i class="ion-ios-briefcase-outline icon-in-title"></i>Work Experiences
                            </h4>
                            <div class="organization" th:if="${userInfo.userWork.privacy == false or loggedUser == user or (userInfo.userWork.privacy == true and status == 'friends')}" >
                                <img th:if="${work.company != null and work.position != null and work.from != null and work.to != null}"
                                     src="/assets/images/envato.png" alt="" class="pull-left img-org"/>
                                <div class="work-info">
                                    <h5><a th:if="${work.company != null}" th:text="${work.company}"></a></h5>
                                    <p th:if="${work.position != null and work.from != null and work.to != null}"
                                       th:text="${work.position} + ' - ' + ${work.from} + ' to ' + ${work.to}"></p>
                                </div>
                            </div>
                            <!--<div class="organization">
                                <img src="/assets/images/envato.png" alt="" class="pull-left img-org"/>
                                <div class="work-info">
                                    <h5>Envato</h5>
                                    <p>Seller - <span class="text-grey">1 February 2013 to present</span></p>
                                </div>
                            </div>
                            <div class="organization">
                                <img src="/assets/images/envato.png" alt="" class="pull-left img-org"/>
                                <div class="work-info">
                                    <h5>Envato</h5>
                                    <p>Seller - <span class="text-grey">1 February 2013 to present</span></p>
                                </div>
                            </div>-->
                        </div>
                        <div class="about-content-block" th:if="${userInfo.address.privacy == false or loggedUser == user or (userInfo.address.privacy == true and status == 'friends')}">
                            <h4 class="grey"><i class="ion-ios-location-outline icon-in-title"></i>Location</h4>
                            <p th:text="${userInfo.address.town} + ', ' + ${userInfo.address.country}"></p>
                            <!--<div class="google-maps">
                                <div id="map" class="map"></div>
                            </div>-->
                        </div>
                        <div class="about-content-block">
                            <h4 class="grey"><i class="ion-ios-videocam-outline icon-in-title"></i>Movie Genres
                            </h4>
                            <div class="edit-block">
                                <ul class="list-inline interests">
                                <span id="menu" class="list-inline interests" th:each="genre : ${userInfo.genres}">
                                    <li><a><i th:text="${genre.genre}"></i></a></li>
                                </span>
                                </ul>
                            </div>
                        </div>
                        <div class="about-content-block">
                            <h4 class="grey"><i class="ion-ios-videocam-outline icon-in-title"></i>Movies
                            </h4>
                            <div class="edit-block">
                                <form style="display: inline-block; text-align: center" th:each="movie : ${movies}">
                                    <div style="margin-right: 30px">
                                        <h5 style="width: 160px;"><a th:href="@{'https://www.imdb.com/title/' + ${movie.imdb}}" th:text="${movie.title}"></a></h5>
                                        <img style="height: 240px; width: 160px;" th:src="${movie.poster}">
                                    </div>
                                    <br>
                                    <div class="line"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Footer
================================================= -->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="footer-wrapper">

            </div>
        </div>
    </div>
</footer>

<!--preloader-->
<div id="spinner-wrapper">
    <div class="spinner"></div>
</div>

<!-- Scripts
================================================= -->
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDeUZHCOJLE4Rxj_iFRc1xW-X2swEtL830&callback=initMap"></script>
<script src="/assets/js/jquery-3.1.1.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/jquery.sticky-kit.min.js"></script>
<script src="/assets/js/jquery.scrollbar.min.js"></script>
<script src="/assets/js/script.js"></script>

</body>
</html>
