<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="This is social network html5 template available in themeforest......"/>
    <meta name="keywords" content="Social Network, Social Media, Make Friends, Newsfeed, Profile Page"/>
    <meta name="robots" content="index, follow"/>

    <title>ConnectFlix | My Timeline</title>

    <!-- Stylesheets
    ================================================= -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/assets/css/style.css"/>
    <link rel="stylesheet" href="/assets/css/ionicons.min.css"/>
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css"/>
    <link href="/assets/css/emoji.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.0.js"
            integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script>
    <script src="/assets/js/custom.js" th:src="@{/assets/js/custom.js}"></script>

    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i" rel="stylesheet">
    <!--Favicon-->
    <link rel="shortcut icon" type="image/png" href="/assets/images/fav.png"/>
</head>
<body>

<!-- Header
================================================= -->
<header id="header" sec:authorize="isAuthenticated()">
    <nav class="navbar navbar-default navbar-fixed-top menu">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" th:href="${'/'}"><img src="/assets/images/logo.png" alt="logo"/></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right main-menu">
                    <li class="dropdown"><a th:href="@{'/'}">Home</a></li>
                    <li class="dropdown"><a th:href="@{'/user/movies'}">Movies</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle pages" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">Notifications<span><img
                                style="display: inline-block"
                                src="/assets/images/down-arrow.png" alt=""/></span><p style="display: inline-block" th:if="${unread.size() > 0}" th:text="${unread.size()}"></p></a>
                        <ul class="dropdown-menu page-list" style="width: 300px;">
                            <form id="myForm" th:each="notification : ${unread}"
                                  th:action="@{'/notification?id=' + ${notification.id}}" method="post">
                                <li style="line-height: 10%; text-align: left; margin-left: 15px; margin-right: 15px; margin-bottom: 10px;">
                                    <a onclick="document.getElementById('myForm').submit();"
                                       th:text="${notification.text}"></a></li>
                            </form>
                            <li style="line-height: 5%; text-align: center;"><a
                                    th:href="@{'/user/' + ${user.username} + '/notifications'}">Show All</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle pages" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">Edit Profile<span><img
                                src="/assets/images/down-arrow.png" alt=""/></span></a>
                        <ul class="dropdown-menu page-list">
                            <li><a th:href="@{'/user/' + ${loggedUser.username} + '/edit/basic'}">Basic Info</a></li>
                            <li><a th:href="@{'/user/' + ${loggedUser.username} + '/edit/photos'}">Photos</a></li>
                            <li><a th:href="@{'/user/' + ${loggedUser.username} + '/edit/work'}">Work</a></li>
                            <li><a th:href="@{'/user/' + ${loggedUser.username} + '/edit/interests'}">Genres</a></li>
                            <li><a th:href="@{'/user/' + ${loggedUser.username} + '/edit/movies'}">Movies</a></li>
                            <li><a th:href="@{'/user/' + ${loggedUser.username} + '/edit/password'}">Change Password</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="javascript: document.logoutForm.submit()"
                                            sec:authorize="isAuthenticated()">Log Out</a>
                        <form name="logoutForm" th:action="@{/logout}" method="post">
                            <input hidden type="submit"/>
                        </form>
                    </li>
                </ul>
                <form th:action="@{'/user/search'}" class="navbar-form navbar-right hidden-sm">
                    <div class="form-group">
                        <i class="icon ion-android-search"></i>
                        <input type="text" class="form-control" placeholder="Search users" th:name="word">
                    </div>
                </form>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>
</header>
<!--Header End-->

<div class="container">

    <!-- Timeline
    ================================================= -->
    <div class="timeline">
        <div class="timeline-cover">
            <img th:if="${userInfo.coverPicture} == null" src="/assets/images/bg/4.jpg" alt=""
                 style="width: 1030px; height: 360px; object-fit: cover">
            <img th:if="${userInfo.coverPicture} != null" th:src="@{'/user/image/cover?username=' + ${user.username}}"
                 alt=""
                 style="width: 1030px; height: 360px; object-fit: cover">
            <!--Timeline Menu for Large Screens-->
            <div class="timeline-nav-bar hidden-sm hidden-xs">
                <div class="row">
                    <div class="col-md-3">
                        <div class="profile-info">
                            <!--<img src="/assets/images/bg/person_1.jpg" alt="" class="img-responsive profile-photo"/>-->
                            <img th:if="${userInfo.picture == null}"
                                 src="/assets/images/bg/person_1.jpg" alt=""
                                 class="img-responsive profile-photo">
                            <img th:if="${userInfo.picturePrivacy == false and loggedUser != user and userInfo.picture != null}"
                                 th:src="@{'/user/image?username=' + ${user.username}}" alt=""
                                 class="img-responsive profile-photo">
                            <img th:if="${loggedUser == user and userInfo.picture != null}" th:src="@{'/user/image?username=' + ${user.username}}"
                                 alt=""
                                 class="img-responsive profile-photo">
                            <img th:if="${userInfo.picture != null and userInfo.picturePrivacy == true and status == 'friends' and loggedUser != user}"
                                 th:src="@{'/user/image?username=' + ${user.username}}" alt=""
                                 class="img-responsive profile-photo">
                            <img th:if="${userInfo.picture != null and userInfo.picturePrivacy == true and status != 'friends'and loggedUser != user}"
                                 src="/assets/images/bg/person_1.jpg" alt=""
                                 class="img-responsive profile-photo">
                            <h3><a th:href="@{'/user/' + ${user.username}}"
                                   th:text="${userInfo.firstName + ' ' + userInfo.lastName}"></a></h3>
                            <p class="text-muted" th:text="${userInfo.description}"></p>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <ul class="list-inline profile-menu">
                            <li><a th:href="@{'/user/' + ${user.username}}" class="active">Timeline</a></li>
                            <li><a th:href="@{'/user/' + ${user.username} + '/about'}">About</a></li>
                            <!--<li><a href="timeline-album.html">Album</a></li>-->
                            <li><a th:if="${loggedUser == user}" th:href="@{'/user/' + ${user.username} + '/friends'}">Friends</a>
                            </li>
                        </ul>
                        <ul class="follow-me list-inline">
                            <!--<li>1,299 people following her</li>-->
                            <li sec:authorize="hasRole('ADMIN')">
                                <form th:if="${loggedUser} != ${user}"
                                      th:action="@{'/user/' + ${user.username} + '/edit/basic/'}">
                                    <button type="submit" class="btn-primary">Edit User</button>
                                </form>
                            </li>
                            <li>
                                <form th:if="${status} == ''" th:unless="${loggedUser} == ${user}"
                                      th:action="@{'/friends/request/' + ${user.username}}"
                                      method="post">
                                    <button type="submit" class="btn-primary">Add Friend</button>
                                </form>
                                <form th:if="${status} == 'friends'" th:unless="${loggedUser} == ${user}"
                                      th:action="@{'/friends/remove/' + ${user.username}}"
                                      method="post">
                                    <button type="submit" class="btn-primary">Remove Friend</button>
                                </form>
                                <form th:if="${status} == 'request'" th:unless="${loggedUser} == ${user}"
                                      th:action="@{'/friends/remove/' + ${user.username}}"
                                      method="post">
                                    <button type="submit" class="btn-primary">Remove Request</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </div><!--Timeline Menu for Large Screens End-->

        </div>
        <div id="page-contents">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-7">

                    <!-- Post Create Box
                    ================================================= -->
                    <div class="create-post">
                        <div class="row">
                            <form th:if="${loggedUser} == ${user}" th:action="@{/feed/post}" th:object="${addPost}"
                                  method="post"
                                  enctype="multipart/form-data">
                                <div class="col-md-7 col-sm-7">
                                    <div class="form-group">
                                        <!--<img src="http://placehold.it/300x300" alt="" class="profile-photo-md"/>-->
                                        <img th:if="${userInfo.picture} == null" src="/assets/images/bg/person_1.jpg"
                                             alt="user" class="profile-photo-md">
                                        <img th:unless="${userInfo.picture} == null"
                                             th:src="@{'/user/image?username=' + ${user.username}}" alt="user"
                                             class="profile-photo-md">
                                        <!--                                    <input type="text" th:field="*{text}">-->
                                        <textarea minlength="2" maxlength="1500" name="texts" id="exampleTextarea"
                                                  cols="30" rows="1"
                                                  class="form-control"
                                                  placeholder="Write what you wish" type="text"
                                                  th:field="*{text}" required></textarea>
                                    </div>
                                    <div class="bottom-left" style="display: inline-flex">
                                        <span style="margin-left: 60px">
                                            <input type="checkbox"
                                                   th:field="*{privacy}" checked>
                                            <span>Private</span>
                                            </span>
                                    </div>
                                </div>
                                <div class="col-md-5 col-sm-5">
                                    <div class="tools">
                                        <div class="publish-line" style="display: inline-flex">
                                            <input id='imagefile' class="imagefile" type="file" name='imagefile'/>
                                            <label for="imagefile"></label>
                                            <input type="submit" class="btn btn-primary pull-left" value="Publish">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div><!-- Post Create Box End-->

                    <!-- Post Content
                    ================================================= -->
                    <div class="post-content" th:each="post : ${myPosts}"
                         th:if="${(status == 'friends' and post.privacy == true) or post.privacy == false or loggedUser == user}">

                        <!--Post Date-->
                        <div class="post-date hidden-xs hidden-sm">
                            <h5 th:text="${post.creator.firstName}"></h5>
                            <p style="font-size: 10px" class="text-grey" th:text="${dateFormat.format(post.date)}"></p>
                        </div><!--Post Date End-->

                        <img th:if="${post.picture} != null" th:src="@{'/feed/image?id=' + ${post.id}}"
                             class="img-responsive post-image"/>
                        <div class="post-container">
                            <!--<img src="http://placehold.it/300x300" alt="user" class="profile-photo-md pull-left"/>-->

                            <img th:if="${userInfo.picture == null}"
                                 src="/assets/images/bg/person_1.jpg" alt=""
                                 class="profile-photo-md pull-left">
                            <img th:if="${userInfo.picturePrivacy == false and loggedUser != user and userInfo.picture != null}"
                                 th:src="@{'/user/image?username=' + ${user.username}}" alt=""
                                 class="profile-photo-md pull-left">
                            <img th:if="${loggedUser == user and userInfo.picture != null}" th:src="@{'/user/image?username=' + ${user.username}}"
                                 alt=""
                                 class="profile-photo-md pull-left">
                            <img th:if="${userInfo.picture != null and userInfo.picturePrivacy == true and status == 'friends' and loggedUser != user}"
                                 th:src="@{'/user/image?username=' + ${user.username}}" alt=""
                                 class="profile-photo-md pull-left">
                            <img th:if="${userInfo.picture != null and userInfo.picturePrivacy == true and status != 'friends'and loggedUser != user}"
                                 src="/assets/images/bg/person_1.jpg" alt=""
                                 class="profile-photo-md pull-left">

                            <div class="post-detail">
                                <div class="user-info">
                                    <h5><a th:text="${userInfo.firstName + ' ' + userInfo.lastName}"
                                           th:href="@{'/user/' + ${user.username}}" class="profile-link"></a></h5>
                                </div>
                                <div class="reaction" th:id="'reaction' + ${post.id}">
                                    <a th:href="@{'/feed/post/details?id=' + ${post.id}}" class="btn view-details"></a>
                                    <form class="formButtons">
                                        <span th:id="'likes-count' + ${post.id}" th:text="${likes.get(post)}"
                                              style="margin-left: 15px"></span>
                                        <input type="hidden" th:value="${post.id}" class="postId" name="postId"
                                               style="display: none">
                                        <input class="status" name="status" type="hidden" th:value="'liked'"
                                               style="display: none">
                                        <input class="userId" type="hidden" name="userId" th:value="${loggedUser.userInfo.id}">
                                        <input class="creatorId" type="hidden" name="creatorId" th:value="${post.creator.id}">
                                        <a class="likeButton"></a>
                                    </form>
                                    <form class="formButtons">
                                        <span th:id="'dislikes-count' + ${post.id}"
                                              th:text="${dislikes.get(post)}"></span>
                                        <input class="status" name="status" type="hidden" th:value="'disliked'">
                                        <input type="hidden" th:value="${post.id}" class="postId" name="postId">
                                        <input type="hidden" th:value="${loggedUser.userInfo.id}" class="userId" name="userId">
                                        <input class="creatorId" type="hidden" name="creatorId" th:value="${post.creator.id}">
                                        <a class="dislikeButton"></a>
                                    </form>
                                </div>
                                <div class="line-divider"></div>
                                <div class="post-text">
                                    <p th:text="${post.text}"
                                       style="width: 470px;overflow-wrap: break-word"></p>
                                </div>
                                <div class="line-divider"></div>
                                <div class="comment-section" th:id="'comment-section' + ${post.id}">
                                    <button class="show-comments">Show Comments</button>
                                    <div style="display: none" class="comments">
                                        <div class="post-comment" th:id="'post-comment' + ${post.id}"
                                             th:each="comment, iterStat : ${post.comments}" th:if="${iterStat.index} < 5">
                                            <div class="comment-container" style="display: inline-flex">
                                                <img th:if="${comment.creator.picture} == null"
                                                     src="http://placehold.it/300x300"
                                                     alt="" class="profile-photo-sm"/>
                                                <img th:unless="${comment.creator.picture} == null"
                                                     th:src="@{'/user/image?username=' + ${comment.creator.user.username}}"
                                                     alt=""
                                                     class="profile-photo-sm"/>
                                                <a th:href="@{'/user/' + ${comment.creator.user.username}}"
                                                   class="profile-link"
                                                   th:text="${comment.creator.firstName}"> </a>
                                                <p th:id="'comment-text' + ${comment.id}" th:text="${comment.text}"
                                                   style="width: 350px; overflow-wrap: break-word"></p>
                                            </div>
                                            <button type="button" class="editComment"
                                                    th:if="${comment.creator == userInfo}"></button>
                                            <p style="margin-left: 53px; font-size: 10px"
                                               th:text="${dateFormat.format(comment.date)}"></p>
                                            <div class="line-divider"></div>
                                            <div class="editCommnt" style="display: none; margin-bottom: 10px ">
                                                <form>
                                        <textarea minlength="2" maxlength="500" cols="20" rows="1" type="text"
                                                  class="text form-control" th:text="${comment.text}"
                                                  placeholder="Edit the comment" id="text" name="text"
                                                  required></textarea>
                                                    <input class="cmntId" name="cmntId" type="hidden"
                                                           th:value="${comment.id}">
                                                    <a class="edit-comment btn btn-primary pull-left"
                                                       style="margin-bottom: 10px">Edit</a>
                                                    <a class="deleteComment pull-right"></a>
                                                </form>
                                            </div>
                                        </div>
                                        <a style="display: block;" th:if="${!post.comments.isEmpty()}" class="discussion" th:href="@{'/feed/post/details?id=' + ${post.id}}" >Get into details</a>
                                    </div>
                                </div>
                                <div class="post-comment" style="display: inline-flex">
                                    <img th:if="${loggedUser.userInfo.picture == null}"
                                         src="/assets/images/bg/person_1.jpg" alt=""
                                         class="profile-photo-sm">
                                    <img th:if="${loggedUser.userInfo.picture != null}"
                                         th:src="@{'/user/image?username=' + ${loggedUser.username}}" alt=""
                                         class="profile-photo-sm">
                                    <form>
                                        <textarea minlength="2" maxlength="300" cols="20" rows="1" type="text"
                                                  class="form-control commentTxt" placeholder="Post a comment"
                                                  name="text"
                                                  required></textarea>
                                        <input type="hidden" class="postId" th:value="${post.id}" name="postId">
                                        <input type="hidden" class="userId" th:value="${loggedUser.userInfo.id}" name="userId">
                                        <input class="creatorId" type="hidden" name="creatorId" th:value="${post.creator.id}">
                                        <div class="comment-buttons">
                                            <a class="add-comment btn btn-primary">Comment</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" class="username" th:value="${user.username}" name="username">
                    <a class="shw-personal show-comments" th:if="${myPosts.getNumberOfElements() == 10}">SHOW MORE POSTS</a>
                </div>
                <div class="col-md-2 static">
                    <div id="sticky-sidebar">
                        <h4 th:if="${loggedUser} == ${user}" class="grey"><a th:text="${'Friend Requests'}"></a></h4>
                        <div class="feed-item" th:each="request : ${friendRequests}"
                             th:if="${request.requestReceiver.user} == ${loggedUser}"
                             th:unless="${loggedUser} != ${user}">
                            <a th:href="@{'/user/' + ${request.requestSender.user.username}}"
                               th:text="${request.requestSender.firstName + ' ' + request.requestSender.lastName}"></a>
                            <div class="live-activity">
                                <form class="formButtons" th:action="@{'/friends/accept?id=' + ${request.id}}"
                                      method="post">
                                    <button type="submit" class="acceptButton"></button>
                                </form>
                                <form class="formButtons" th:action="@{'/friends/decline?id=' + ${request.id}}"
                                      method="post">
                                    <button type="submit" class="declineButton"></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer
================================================= -->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="footer-wrapper">

            </div>
        </div>
    </div>
</footer>

<!--preloader-->
<div id="spinner-wrapper">
    <div class="spinner"></div>
</div>

<!-- Scripts
================================================= -->
<script src="/assets/js/jquery-3.5.0.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/jquery.appear.min.js"></script>
<script src="/assets/js/jquery.incremental-counter.js"></script>
<script src="/assets/js/script.js"></script>


</body>
</html>
