<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="post-content" th:each="post : ${loadPosts}"
     th:if="${(status == 'friends' and post.privacy == true) or post.privacy == false or loggedUser == user}">

    <!--Post Date-->
    <div class="post-date hidden-xs hidden-sm">
        <h5 th:text="${post.creator.firstName}"></h5>
        <p style="font-size: 10px" class="text-grey" th:text="${dateFormat.format(post.date)}"></p>
    </div><!--Post Date End-->

    <img th:if="${post.picture} != null" th:src="@{'/feed/image?id=' + ${post.id}}"
         class="img-responsive post-image"/>
    <div class="post-container">
        <!--<img src="http://placehold.it/300x300" alt="user" class="profile-photo-md pull-left"/>-->

        <img th:if="${userInfo.picture == null}"
             src="/assets/images/bg/person_1.jpg" alt=""
             class="profile-photo-md pull-left">
        <img th:if="${userInfo.picturePrivacy == false and loggedUser != user and userInfo.picture != null}"
             th:src="@{'/user/image?username=' + ${user.username}}" alt=""
             class="profile-photo-md pull-left">
        <img th:if="${loggedUser == user and userInfo.picture != null}" th:src="@{'/user/image?username=' + ${user.username}}"
             alt=""
             class="profile-photo-md pull-left">
        <img th:if="${userInfo.picture != null and userInfo.picturePrivacy == true and status == 'friends' and loggedUser != user}"
             th:src="@{'/user/image?username=' + ${user.username}}" alt=""
             class="profile-photo-md pull-left">
        <img th:if="${userInfo.picture != null and userInfo.picturePrivacy == true and status != 'friends'and loggedUser != user}"
             src="/assets/images/bg/person_1.jpg" alt=""
             class="profile-photo-md pull-left">

        <div class="post-detail">
            <div class="user-info">
                <h5><a th:text="${userInfo.firstName + ' ' + userInfo.lastName}"
                       th:href="@{'/user/' + ${user.username}}" class="profile-link"></a></h5>
            </div>
            <div class="reaction" th:id="'reaction' + ${post.id}">
                <a th:href="@{'/feed/post/details?id=' + ${post.id}}" class="btn view-details"></a>
                <form class="formButtons">
                                        <span th:id="'likes-count' + ${post.id}" th:text="${likes.get(post)}"
                                              style="margin-left: 15px"></span>
                    <input type="hidden" th:value="${post.id}" class="postId" name="postId"
                           style="display: none">
                    <input class="status" name="status" type="hidden" th:value="'liked'"
                           style="display: none">
                    <input class="userId" type="hidden" name="userId" th:value="${userInfo.id}">
                    <input class="creatorId" type="hidden" name="creatorId" th:value="${post.creator.id}">
                    <a class="likeButton"></a>
                </form>
                <form class="formButtons">
                                        <span th:id="'dislikes-count' + ${post.id}"
                                              th:text="${dislikes.get(post)}"></span>
                    <input class="status" name="status" type="hidden" th:value="'disliked'">
                    <input type="hidden" th:value="${post.id}" class="postId" name="postId">
                    <input type="hidden" th:value="${userInfo.id}" class="userId" name="userId">
                    <input class="creatorId" type="hidden" name="creatorId" th:value="${post.creator.id}">
                    <a class="dislikeButton"></a>
                </form>
            </div>
            <div class="line-divider"></div>
            <div class="post-text">
                <p th:text="${post.text}" contenteditable="true"
                   style="width: 470px;overflow-wrap: break-word"></p>
            </div>
            <div class="line-divider"></div>
            <div class="comment-section" th:id="'comment-section' + ${post.id}">
                <button class="show-comments">Show Comments</button>
                <div style="display: none" class="comments">
                    <div class="post-comment" th:id="'post-comment' + ${post.id}"
                         th:each="comment, iterStat : ${post.comments}" th:if="${iterStat.index} < 5">
                        <div class="comment-container" style="display: inline-flex">
                            <img th:if="${comment.creator.picture} == null"
                                 src="http://placehold.it/300x300"
                                 alt="" class="profile-photo-sm"/>
                            <img th:unless="${comment.creator.picture} == null"
                                 th:src="@{'/user/image?username=' + ${comment.creator.user.username}}"
                                 alt=""
                                 class="profile-photo-sm"/>
                            <a th:href="@{'/user/' + ${comment.creator.user.username}}"
                               class="profile-link"
                               th:text="${comment.creator.firstName}"> </a>
                            <p th:id="'comment-text' + ${comment.id}" th:text="${comment.text}"
                               style="width: 350px; overflow-wrap: break-word"></p>
                        </div>
                        <button type="button" class="editComment"
                                th:if="${comment.creator == userInfo}"></button>
                        <div class="line-divider"></div>
                        <div class="editCommnt" style="display: none; margin-bottom: 10px ">
                            <form>
                                        <textarea minlength="2" maxlength="300" cols="20" rows="1" type="text"
                                                  class="text form-control" th:text="${comment.text}"
                                                  placeholder="Edit the comment" id="text" name="text"
                                                  required></textarea>
                                <input class="cmntId" name="cmntId" type="hidden"
                                       th:value="${comment.id}">
                                <a class="edit-comment btn btn-primary pull-left"
                                   style="margin-bottom: 10px">Edit</a>
                                <a class="deleteComment pull-right"></a>
                            </form>
                        </div>
                    </div>
                    <a th:if="${!post.comments.isEmpty()}" class="discussion" th:href="@{'/feed/post/details?id=' + ${post.id}}" >Get into details</a>
                </div>
            </div>
            <div class="post-comment" style="display: inline-flex">
                <img th:if="${loggedUser.userInfo.picture == null}"
                     src="/assets/images/bg/person_1.jpg" alt=""
                     class="profile-photo-sm">
                <img th:if="${loggedUser.userInfo.picture != null}"
                     th:src="@{'/user/image?username=' + ${loggedUser.username}}" alt=""
                     class="profile-photo-sm">
                <form>
                                        <textarea minlength="2" maxlength="300" cols="20" rows="1" type="text"
                                                  class="form-control commentTxt" placeholder="Post a comment"
                                                  name="text"
                                                  required></textarea>
                    <input type="hidden" class="postId" th:value="${post.id}" name="postId">
                    <input type="hidden" class="userId" th:value="${userInfo.id}" name="userId">
                    <input class="creatorId" type="hidden" name="creatorId" th:value="${post.creator.id}">
                    <div class="comment-buttons">
                        <a class="add-comment btn btn-primary">Comment</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>