<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="This is social network html5 template available in themeforest......"/>
    <meta name="keywords" content="Social Network, Social Media, Make Friends, Newsfeed, Profile Page"/>
    <meta name="robots" content="index, follow"/>

    <title>ConnectFlix | My Timeline</title>

    <!-- Stylesheets
    ================================================= -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/assets/css/style.css"/>
    <link rel="stylesheet" href="/assets/css/ionicons.min.css"/>
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css"/>
    <link href="/assets/css/emoji.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.0.js"
            integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script>
    <script src="/assets/js/custom.js" th:src="@{/assets/js/custom.js}"></script>

    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i" rel="stylesheet">
    <!--Favicon-->
    <link rel="shortcut icon" type="image/png" href="/assets/images/fav.png"/>
</head>
<body>

<!-- Header
================================================= -->
<header id="header" sec:authorize="isAuthenticated()">
    <nav class="navbar navbar-default navbar-fixed-top menu">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" th:href="${'/'}"><img src="/assets/images/logo.png" alt="logo"/></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right main-menu">
                    <li class="dropdown"><a th:href="@{'/'}">Home</a></li>
                    <li class="dropdown"><a th:href="@{'/user/movies'}">Movies</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle pages" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">Notifications<span><img
                                style="display: inline-block"
                                src="/assets/images/down-arrow.png" alt=""/></span><p style="display: inline-block" th:if="${unread.size() > 0}" th:text="${unread.size()}"></p></a>
                        <ul class="dropdown-menu page-list" style="width: 300px;">
                            <form id="myForm" th:each="notification : ${unread}"
                                  th:action="@{'/notification?id=' + ${notification.id}}" method="post">
                                <li style="line-height: 10%; text-align: left; margin-left: 15px; margin-right: 15px; margin-bottom: 10px;">
                                    <a onclick="document.getElementById('myForm').submit();"
                                       th:text="${notification.text}"></a></li>
                            </form>
                            <li style="line-height: 5%; text-align: center;"><a
                                    th:href="@{'/user/' + ${user.username} + '/notifications'}">Show All</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle pages" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">Edit Profile<span><img
                                src="/assets/images/down-arrow.png" alt=""/></span></a>
                        <ul class="dropdown-menu page-list">
                            <li><a th:href="@{'/user/' + ${user.username} + '/edit/basic'}">Basic Info</a></li>
                            <li><a th:href="@{'/user/' + ${user.username} + '/edit/photos'}">Photos</a></li>
                            <li><a th:href="@{'/user/' + ${user.username} + '/edit/work'}">Work</a></li>
                            <li><a th:href="@{'/user/' + ${user.username} + '/edit/interests'}">Genres</a></li>
                            <li><a th:href="@{'/user/' + ${user.username} + '/edit/movies'}">Movies</a></li>
                            <li><a th:href="@{'/user/' + ${user.username} + '/edit/password'}">Change Password</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="javascript: document.logoutForm.submit()"
                                            sec:authorize="isAuthenticated()">Log Out</a>
                        <form name="logoutForm" th:action="@{/logout}" method="post">
                            <input hidden type="submit"/>
                        </form>
                    </li>
                </ul>
                <form th:action="@{'/user/search'}" class="navbar-form navbar-right hidden-sm">
                    <div class="form-group">
                        <i class="icon ion-android-search"></i>
                        <input type="text" class="form-control" placeholder="Search users" th:name="word">
                    </div>
                </form>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>
</header>
<!--Header End-->

<div class="container">

    <!-- Timeline
    ================================================= -->
    <div class="timeline">
        <div id="page-contents" style="margin-top: 60px">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-7">
                    <div class="post-content"
                         th:if="${(status == 'friends' and postDetails.privacy == true) or postDetails.privacy == false or postDetails.creator.user == user}">

                        <!--Post Date-->
                        <div class="post-date hidden-xs hidden-sm">
                            <h5 th:text="${postDetails.creator.firstName}"></h5>
                        </div><!--Post Date End-->

                        <img th:if="${postDetails.picture} != null" th:src="@{'/feed/image?id=' + ${postDetails.id}}"
                             class="img-responsive post-image"/>
                        <div class="post-container">
                            <!--<img src="http://placehold.it/300x300" alt="user" class="profile-photo-md pull-left"/>-->

                            <img th:if="${postDetails.creator.picture == null}"
                                 src="/assets/images/bg/person_1.jpg" alt=""
                                 class="profile-photo-md pull-left">
                            <img th:if="${postDetails.creator.picturePrivacy == false and postDetails.creator.user != user and postDetails.creator.picture != null}"
                                 th:src="@{'/user/image?username=' + ${postDetails.creator.user.username}}" alt=""
                                 class="profile-photo-md pull-left">
                            <img th:if="${postDetails.creator.user == user and postDetails.creator.picture != null}"
                                 th:src="@{'/user/image?username=' + ${postDetails.creator.user.username}}"
                                 alt=""
                                 class="profile-photo-md pull-left">
                            <img th:if="${postDetails.creator.picture != null and postDetails.creator.picturePrivacy == true and status == 'friends' and postDetails.creator.user != user}"
                                 th:src="@{'/user/image?username=' + ${postDetails.creator.user.username}}" alt=""
                                 class="profile-photo-md pull-left">
                            <img th:if="${postDetails.creator.picture != null and postDetails.creator.picturePrivacy == true and status != 'friends'and postDetails.creator.user != user}"
                                 src="/assets/images/bg/person_1.jpg" alt=""
                                 class="profile-photo-md pull-left">

                            <div class="post-detail">
                                <div class="user-info">
                                    <h5>
                                        <a th:text="${postDetails.creator.firstName + ' ' + postDetails.creator.lastName}"
                                           th:href="@{'/user/' + ${postDetails.creator.user.username}}"
                                           class="profile-link"></a></h5>
                                </div>
                                <div class="reaction" th:id="'reaction' + ${postDetails.id}">
<!--                                    <a th:href="@{'/feed/post/details?id=' + ${postDetails.id}}" class="btn view-details"></a>-->
                                    <form class="formButtons">
                                        <span th:id="'likes-count' + ${postDetails.id}" th:text="${likes}"
                                              style="margin-left: 15px"></span>
                                        <input type="hidden" th:value="${postDetails.id}" class="postId" name="postId"
                                               style="display: none">
                                        <input class="status" name="status" type="hidden" th:value="'liked'"
                                               style="display: none">
                                        <input class="userId" type="hidden" name="userId" th:value="${userInfo.id}">
                                        <input class="creatorId" type="hidden" name="creatorId" th:value="${postDetails.creator.id}">
                                        <a class="likeButton"></a>
                                    </form>
                                    <form class="formButtons">
                                        <span th:id="'dislikes-count' + ${postDetails.id}"
                                              th:text="${dislikes}"></span>
                                        <input class="status" name="status" type="hidden" th:value="'disliked'">
                                        <input type="hidden" th:value="${postDetails.id}" class="postId" name="postId">
                                        <input type="hidden" th:value="${userInfo.id}" class="userId" name="userId">
                                        <input class="creatorId" type="hidden" name="creatorId" th:value="${postDetails.creator.id}">
                                        <a class="dislikeButton"></a>
                                    </form>
                                </div>
                                <div class="line-divider"></div>
                                <div class="post-text">
                                    <p th:text="${postDetails.text}"
                                       style="width: 470px;overflow-wrap: break-word"></p>
                                </div>
                                <div th:if="${user == postDetails.creator.user or #authorization.expression('hasRole(''ADMIN'')')}"
                                     style="display: inline-block">
                                    <button type="button" data-toggle="modal" data-target="#myModal2"
                                            class="delete-btn"></button>
                                    <div class="myModal" style="display: inline-block">
                                        <div class="modal fade" id="myModal2" tabindex="-1" role="dialog"
                                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content" style="width: 400px;height: 200px">
                                                    <div class="modal-header">
                                                        <h5>Are you sure you want to delete the post?</h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="form-group">
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <form th:action="@{'/feed/delete/post?id=' + ${postDetails.id}}"
                                                              method="post" style="display: inline-block">
                                                            <input type="submit" class="btn btn-danger pull-right"
                                                                   style="display: inline-block" value="Delete">
                                                        </form>
                                                        <button type="button" class="btn btn-primary pull-left"
                                                                data-dismiss="modal">Close
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" data-toggle="modal" data-target="#myModal"
                                            class="edit-modal"></button>
                                    <div class="myModal" style="display: inline-block">
                                        <form th:action="@{'/feed/edit/post?id=' + ${postDetails.id}}"
                                              th:object="${addPost}" method="post">
                                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
                                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content" style="width: 600px;height: 350px">
                                                        <div class="modal-header">
                                                            <img src="/assets/images/editLogo.png">
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="form-group">
                                                                <label for="text"
                                                                       class="form-control-label">Post:</label>
                                                                <textarea required class="form-control" id="text"
                                                                          name="text"
                                                                          th:text="${postDetails.text} "></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <input type="submit" class="btn btn-primary"
                                                                   value="Edit">
                                                            <button type="button" class="btn btn-primary"
                                                                    data-dismiss="modal">Close
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="line-divider"></div>
                                <div class="comment-section" th:id="'comment-section' + ${postDetails.id}">
<!--                                <button class="show-comments">Show Comments</button>-->
<!--                                <div style="display: none" class="comments">-->
                                    <div class="post-comment" th:id="'post-comment' + ${postDetails.id}"
                                         th:each="comment : ${postDetails.comments}">
                                        <div class="comment-container" style="display: inline-flex">
                                            <img th:if="${comment.creator.picture} == null"
                                                 src="http://placehold.it/300x300"
                                                 alt="" class="profile-photo-sm"/>
                                            <img th:unless="${comment.creator.picture} == null"
                                                 th:src="@{'/user/image?username=' + ${comment.creator.user.username}}"
                                                 alt=""
                                                 class="profile-photo-sm"/>
                                            <a th:href="@{'/user/' + ${comment.creator.user.username}}"
                                               class="profile-link"
                                               th:text="${comment.creator.firstName}"> </a>
                                            <p th:id="'comment-text' + ${comment.id}" th:text="${comment.text}"
                                               style="width: 350px; overflow-wrap: break-word"></p>
                                        </div>
                                        <button type="button" class="editComment"
                                                th:if="${comment.creator == userInfo}"></button>
                                        <p style="margin-left: 53px; font-size: 10px"
                                           th:text="${dateFormat.format(comment.date)}"></p>
                                        <div class="line-divider"></div>
                                        <div class="editCommnt" style="display: none; margin-bottom: 10px ">
                                            <form>
                                        <textarea minlength="2" maxlength="300" cols="20" rows="1" type="text"
                                                  class="text form-control" th:text="${comment.text}"
                                                  placeholder="Edit the comment" id="text" name="text"
                                                  required></textarea>
                                                <input class="cmntId" name="cmntId" type="hidden" th:value="${comment.id}">
                                                <a class="edit-comment btn btn-primary pull-left"
                                                   style="margin-bottom: 10px">Edit</a>
                                                <a class="deleteComment pull-right"></a>
                                            </form>
                                        </div>
                                    </div>
<!--                                </div>-->
                            </div>
                                <div class="post-comment" style="display: inline-flex">
                                    <img th:if="${userInfo.picture == null}"
                                         src="/assets/images/bg/person_1.jpg" alt=""
                                         class="profile-photo-sm">
                                    <img th:if="${userInfo.picturePrivacy == false and postDetails.creator.user != user and postDetails.creator.user != null}"
                                         th:src="@{'/user/image?username=' + ${user.username}}" alt=""
                                         class="profile-photo-sm">
                                    <img th:if="${postDetails.creator.user == user and postDetails.creator.user != null}"
                                         th:src="@{'/user/image?username=' + ${user.username}}" alt=""
                                         class="profile-photo-sm">
                                    <img th:if="${userInfo.picture != null and userInfo.picturePrivacy == true and status == 'friends' and postDetails.creator.user != user}"
                                         th:src="@{'/user/image?username=' + ${user.username}}" alt=""
                                         class="profile-photo-sm">
                                    <img th:if="${userInfo.picture != null and userInfo.picturePrivacy == true and status != 'friends'and postDetails.creator.user != user}"
                                         src="/assets/images/bg/person_1.jpg" alt=""
                                         class="profile-photo-sm">

                                    <form>
                                        <textarea minlength="2" maxlength="300" cols="20" rows="1" type="text"
                                                  class="form-control commentTxt" placeholder="Post a comment"
                                                  name="text"
                                                  required></textarea>
                                        <input type="hidden" class="postId" th:value="${postDetails.id}" name="postId">
                                        <input type="hidden" class="userId" th:value="${userInfo.id}" name="userId">
                                        <input class="creatorId" type="hidden" name="creatorId" th:value="${postDetails.creator.id}">
                                        <div class="comment-buttons">
                                            <a class="add-comment btn btn-primary">Comment</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer
================================================= -->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="footer-wrapper">

            </div>
        </div>
    </div>
</footer>

<!--preloader-->
<div id="spinner-wrapper">
    <div class="spinner"></div>
</div>

<!-- Scripts
================================================= -->
<script src="/assets/js/jquery-3.5.0.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/jquery.appear.min.js"></script>
<script src="/assets/js/jquery.incremental-counter.js"></script>
<script src="/assets/js/script.js"></script>


</body>
</html>
